In [1]:
x = 2

In [2]:
x

2

In [3]:
y = 3

In [4]:
y

3

In [5]:
x = [1,2,3]

In [8]:
type(x)

list

In [9]:
x.append(4)

In [10]:
x

[1, 2, 3, 4]

In [12]:
if x == 2:
    print('x is 2')
else:
    print('Oops')

Oops

In [13]:
x = 2

if x == 2:
    print('x is 2')
else:
    print('Oops')

x is 2

In [16]:
# if [] evaluate to TRUE or FALSE
if []:
    print('x is 2')
else:
    print('Oops')

Oops

In [17]:
if None:
    print('x is 2')
else:
    print('Oops')

Oops

In [19]:
if 0:
    print('x is 2')
else:
    print('Oops')

Oops

In [22]:
if 0:
    print('x is 2')
    print('hello')
    print('how are you')

print('outside if block')

outside if block

In [24]:
if 1:
    print('x is 2') # off-side rule
    print('hello')
    print('how are you')

print('outside if block')

x is 2
hello
how are you
outside if block

In [25]:
if x:
    print('x is not zero')

x is not zero

In [31]:
if (x < 100) and (y > 0):
    print('a is in ali string')

a is in ali string

In [32]:
if 'a' in 'ali':
    print('a is in ali string')

a is in ali string

In [33]:
if 'a' in ['a','b','c','d']:
    print('ok')

ok

In [37]:
user = 'ali'
age = 17
weight = 70

if user == 'ali':
    if age > 18:
        print('inside age inner if')
        
    if weight > 60:
        print('inside weight inner if')
    
    print('inside if')
    
print('outside if')

inside weight inner if
inside if
outside if

In [38]:
x = -1

if x > 0:
    print('x is negative')
else:
    print('x is posetive')

x is posetive

In [40]:
name = 'Joe'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Joe':
    print('Hello Joe')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Joe

In [47]:
# Don't do this!
x = 3
if x == 2: print('x is 2'); print('y is 2')
    
print('done')

done

In [58]:
# Pythonâ€™s Ternary Operator [expression execution True execution False]
# x == 3 ? print('x is 2') : print('x is not 2')
x

3

In [59]:
print('x is 2') if x == 2 else print('x is not 2')

x is not 2

In [61]:
age

17

In [62]:
can_have_twitter = True if age > 13 else False

In [63]:
can_have_twitter

True

In [67]:
# 0/0 short circut evaluation: ta moshakhas shavad digar meghdar 0/0 check nemishavad.
can_have_twitter = True if age > 13 else 0/0

In [66]:
can_have_twitter

True

In [70]:
can_have_twitter = 'yes' if age > 13 else 'no'
can_have_twitter

'yes'

In [74]:
is_user_logged_in = True
if is_user_logged_in:
    # TODO: Show user profile button
    pass
else:
    # TODO: Show sign in button
    pass

In [75]:
def func(a, b):
    pass

In [1]:
try:
    pass
except:
    pass

In [2]:
if type(1) == int:
    print('1 is int')

1 is int

In [3]:
if isinstance(1,int):
    print('1 is int')

1 is int

In [4]:
type(True) == int

False

In [6]:
# True is subclass of integer
isinstance(True, int)

True

In [7]:
import numpy as np

In [11]:
np.random.randint(2,100,size=3)

array([30, 79, 95])

In [20]:
def myiter():
    for i in range(100):
        yield np.random.randint(2,78)

In [21]:
g = myiter()

In [22]:
next(g)

58

In [54]:
names = ["Mohammad Khalili",
       "yasin amiri",
       "Ramin Shojaei",
       "ali Asadi",
       "ramin rezaei",
        "reza javadii jozani",
        "ahmadi"]

In [57]:
# name afradi ke firstname va lastname anha capital neveshte shode ast
for name in names:
    # baraye ignore kardan esn haye bishtar az 2 bakhsh
    if len(name.split()) < 2:
        continue
    
    fname, lname = name.split()[:2]
    # print(fname,lname)
    
    if fname.title() == fname and lname.title() == lname:
        print(fname,lname)

Mohammad Khalili
Ramin Shojaei

In [61]:
# get names of person (fistname,lastname) that are uppercase
# to enumerate use for loop
new_names = []
for ind, name in enumerate(names):
    # baraye ignore kardan esn haye bishtar az 2 bakhsh
    if len(name.split()) < 2:
        continue
    
    fname, lname = name.split()[:2]
    # print(fname,lname)
    
    if fname.title() == fname and lname.title() == lname:
        new_names.append(name)

In [63]:
new_names

['Mohammad Khalili', 'Ramin Shojaei']

In [68]:
import random
random.choice([1,2,3])

1

In [73]:
random.choice(new_names)

'Mohammad Khalili'