# Python Program Lexical Structure

You have now covered Python varibles, operators, and data types in depth, and you've seen quite a bit of example code. Up to now, the code has consisted of short individual statements, simply assinging objects to variable or displaying values.

But you want to do more than just define data and display it! Let's start arranging code into more complex groupings.

# Table of Contents

- Python Statements
- Line Continuation
    - Implicit Line Continuation
        - Parentheses
        - Curly Braces
        - Square Brackets
    - Explicit Line Continuation
- Multiple Statements Per Line
- Comments
- Whitespace
- Whitespace as Indentation
- Conclusion

In [35]:
names = [
    'Narges',
    'Sara',
    'Mehrdad',
    'Niloufarrr',
    'Somayeh',
    '...',
    '...'
]

In [36]:
names

['Narges', 'Sara', 'Mehrdad', 'Niloufarrr', 'Somayeh', '...', '...']

In [37]:
'Hasan' in names

False

In [38]:
'Hasan' in names[4]

False

In [39]:
hash('Mehrdad') % 5, hash('Niloufarrr') % 5, hash('Somayehhhhhh') % 5

(3, 4, 0)

In [40]:
hash('Abbas') % 5

3

# Line Continuation

Suppose a single statement in your Python code is especially long. For example, you may have an assignment statement with many terms:

In [41]:
person1_age = 42
person2_age = 16
person3_age = 71

In [42]:
someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [43]:
a = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20]]
a

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20]]

In [44]:
mylist = [1,
          [2,3,4,5],
          6,7,8,9]

In [45]:
mylist

[1, [2, 3, 4, 5], 6, 7, 8, 9]

In [46]:
x = (
    1 + 2
    + 3 + 4
    + 5 + 6
)

In [47]:
x

21

In [48]:
print('hello\nworld')

hello
world

# Explicit Line Continuation

In cases where implicit line continuation is not readily available or practicable, there is another option. This is referred to as explicit line continuation or explicit line joining.

Ordinarily, a newline character (which you get when you press **Enter** on your keyboard) indicates the end of a line. If the statement is not complete by that point, Python will raise a SyntaxError exception:

In [49]:
person1_age = 20
person2_age = 25
person3_age = 30
c_1 = (person1_age >= 18 and person1_age <= 65)
c_2 = (person2_age >= 18 and person2_age <= 65)
c_3 = (person3_age >= 18 and person3_age <= 65)

In [50]:
someone_is_of_working_age = c_1 or c_2 or c_3

In [51]:
x = 1; y = 2; z = 3;

In [52]:
x, y, z = 1, 2, 3

# Comments

In Python, the hash character (`#`) signifies a comment. The interpreter will ignore everything from the hash chracter through the end of that line:

In [53]:
a = ['foo','bar','baz'] # I am a comment.

In [54]:
a

['foo', 'bar', 'baz']

In [55]:
# If the first non-whitespace character on the line is a hash, the entire line is

In [56]:
# Extracting customers name for UI
customers = []
for c in customers:
    names.append(c.name)

In [57]:
def add(a,b):
    """
    Adds two integer numbers.
    
    Args:
        a First input to add
        b Second input to add    
    """
    return a + b

In [58]:
add(3, 4)

7

In [59]:
print(add.__doc__)

    Adds two integer numbers.

    Args:
        a First input to add
        b Second input to add

In [60]:
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [61]:
for i in range(10):
    print(i)
    print(i**8)
print('Ali')

0
0
1
1
2
256
3
6561
4
65536
5
390625
6
1679616
7
5764801
8
16777216
9
43046721
Ali

In [62]:
print('Al\tReza\ta')

Al	Reza	a