**1) Write a program in python that prints hello world .**

In [ ]:
print("hello world")

**2) Which statement is true? and why?**
1. In Python, a variable must be declared before it is assigned a value 
2. In Python, a variable may be assigned a value of one type, and then later assigned a value of a different type

In [ ]:
x = True
y = False
print(x,y)

**3) Consider the following sequence of statements :**

1.These statements refer to different variables.\
2.These statements refer to the same variable.\
Answer: `Case is significant in Python variable names, so these are all different variables.`

In [ ]:
employeenumber = 4398
EmployeeNumber = 4398
employeeNumber = 4398

In [ ]:
id(employeenumber)

In [ ]:
id(EmployeeNumber)

In [ ]:
id(employeeNumber)

**4) Following the execution of these statements, Python has created how many objects and how many references?**\
`1.One object, two references`\
2.One object, one reference\
3.Two objects, one reference\
4.Two objects, two references

In [ ]:
n = 300
m = n

In [ ]:
id(m)

In [ ]:
id(n)

**5) Multiple Variable's Definition**\
Assign values `"pytopia" , 2022 and 3.14` to `var_s , var_i , var_f` in **only one line** of code.

In [ ]:
var_s,var_i,var_f = 'pytopia',2022,3.14

In [ ]:
var_s

In [ ]:
var_i

In [ ]:
var_f

**6) Variable Assignment**\
Consider the following sequence of statements :

Since numbers `between -5 and 256` are used a lot, Python allocates memory for these numbers from the beginning in RAM. For this reason, these objects are made only once and at any time create a variable with these values, instead of making new objects we just create some new pointers to those objects. But for any other numbers any time we create a variable we also create new objects.

Somehow, it can be said that the numbers in this range are unique and occupy the RAM once.

In [ ]:
>>> m = 245
>>> n = 245
>>> x = 268
>>> y = 268
>>> z = y

In [ ]:
print(id(m),id(n),id(x),id(y),id(z))

In [ ]:
id(m) != id(n), id(x) != id(y)

In [ ]:
id(m) == id(n), id(x) == id(y)

In [ ]:
id(m) == id(n), id(x) != id(y)

In [ ]:
id(m) != id(n), id(x) == id(y)

In [ ]:
id(z) == id(y)

In [ ]:
id(z) != id(y)

**7) Quick Swap**

Assume we have two variables called input_1 and input_2 . Swap the values of the two variables so that input_1 has the value of input_2 and vice versa. Print out the two variables.  

Note: You must perform the swap in only 1 line of code, and without using any variables other than input_1 and input_2 .

In [ ]:
input_1 = 0
input_2 = 1
input_1,input_2 = input_2,input_1

**8) Custom Swap** \
Ali has a problem with one of his python practices.\
He wants `to get two numbers as input from the user` and put them in input_1 and input_2 .\
then Swap the values of the two variables so that input_1 has the value of input_2 and vice versa.\ 
Finally, print out the two variables.

**Note: He must only use 3 variables in his code**

In [ ]:
input_1 = int(input("Enter first number: "))
input_2 = int(input("Enter second number: "))

In [ ]:
temp = input_1
input_1 = input_2
input_2 = temp

In [ ]:
print(input_1,input_2)

**9) Easy Sum** \
We ask Ali to write a code that takes two inputs from the user and saves them in two desired variables, and then puts the sum of the two inputs in a variable and prints the result. Since Ali does not know the syntax of python, we ask you to help him to write this code!

Note: Use snake case format for variable names.

Hint: You can use the following code to take input from the user and convert it to an integer. (In future sessions we will explain how this code works).

You can change the name of the variable to anything you like.

`Note: When you are giving your input data, press Enter to end the process of giving input after you have done.`

In [ ]:
input_1 = int(input('Enter a number: '))
input_2 = int(input('Enter another number: '))

In [ ]:
sum_x = input_1 + input_2
print(sum_x)

**10) Warm-Up Variable Practice!** \
Ali's programming teacher asks him to define two variables inp_1 and inp_2 and assign values 10 and 35 to them. \
then put inp_1 + inp_2 in variable result and print it. \
Ali is a lazy student and asks you to do this for him!

In [ ]:
inp_1,inp_2 = 10,35
sum_inp = inp_1 + inp_2
print(sum_inp)

**11) Bitwise Operators Quiz** \
4 is 100 in binary and 11 is 1011. \
What is the output of the following bitwise operators?

4: 0100 \
11: 1011

In [ ]:
a = 4
b = 11
print(a | b, a >> 2)

**12) Operator and Expression** \
What is the output of the following code?

print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j)) 

1. True True False True \
2. False True True True \
3. True True False True \
4. False True False True

`answer: 2`

**13) List Chain Assignment** \
What is the output where indicated by #?:

`Hint: If you think the outputs are [2] and [3], think again!`

The reason is when you do `x = y = []` you define two pointers both pointing to one memory location. \
If you change that memory location with x, the changes are seen by y too, cause both are sharing one memory location.

So be careful when you use chain assignments. It may cause unexpected behaviours when used with mutable data types.

Note that with immutable variables, there is no problem like this, cause they are not gonna change.

In [ ]:
x = y = []
x.append(2)
y.append(3)
print(x)
print(y)

**14) Append to The List** \
The append() method allows you to add items to your lists. \
Add the string "R" to the programming_langs list with append() method.

Note: Python's list contents are references unless documented otherwise, no copies are created when you pass a name to a method. This applies just as much to list.append() as to any other call; list.append() adds a reference to the list, not a copy.

In [ ]:
programming_langs = ["Julia", "Python"] 
programming_langs.append("R")

In [ ]:
programming_langs

**15) List: Max, Min, Sum and Mean** \
Calculate the maximum, minimum, sum and mean of the following data using python's built-in functions:

In [ ]:
random_num_data = [18, 60, -10, 17, 55, 8, -1, 31, 52, 31,
                    27, 14, 25, 0, -2, 15, -1, 50, 45, -4,
                    42, -10, 40, 3, 43, 55, 24, -17, 17, 54, 
                    19, 24, 44, 30, 24, 3, -17, 31, 45, -10, 
                    13, -12, 21, -13, 52, 57, -1, 37, 21, 42]

In [ ]:
maximum = max(random_num_data)
maximum

In [ ]:
minimum = min(random_num_data)
minimum

In [ ]:
sum_of_data = sum(random_num_data)
sum_of_data

In [ ]:
mean_of_data = sum(random_num_data) / len(random_num_data)
mean_of_data

**16) Second Largest Number In List** \
Find the second_largest number in the list:

`second_largest = 66`

In [ ]:
num_list = [3, 47, 10, 15, 21, 28, 13, 45, 66, 12, 34, 56, 78]
num_list

In [ ]:
# method 1
max(num_list)

In [ ]:
num_list.remove(78)

In [ ]:
max(num_list)

In [ ]:
# method 2
sorted_list = sorted(num_list)
sorted_list

In [ ]:
second_largest = sorted_list[-2]
second_largest

In [ ]:
# method 3
sorted(num_list,reverse=True)[1]

In [ ]:
# method 4
max_1 = num_list[0]
max_2 = num_list[1]
print(max_1,max_2)

if max_1 < max_2:
    max_1, max_2 = max_2, max_1
    
print(max_1,max_2)


for n in num_list[2:]:
    if n > max_1:
        max_2 = max_1
        max_1 = n
        
    elif n > max_2:
        max_2 = n
        
print(max_1,max_2)

# max_2 = None
# for n in num_list:
#     if n > max_1:
    
#     if max_1 is None:
#         max_1 = n
    
#     if max_1 is not None and max_2 is None:

**17) List Quiz** \
Which of the following are `not true` about Python lists? (Choose all that may apply)

1. There is no limit to the size of a list.
2. All elements in a list must be of the same type.
3. A list may contain any type of object except another list
4. A given object may appear in a list more than once.

`answer: Choice 2, is not True. This statement is not relevant to the list data type in python. what it's referring though, is an array.
Choice 3, is not True. Alist can contain any object, including another list (nested list).`

**18) Nested List Indexing** \
Extract the fourth team list from persian_gulf_standing:

In [ ]:
persian_gulf_standing = [
    ['Esteghlel F.C', 1],
    ['Sepahan', 2],
    ['Perspolis', 3],
    ['Gol Gohar', 4],
    ['Foolad', 5]
]

# forth_team = #Code here

In [ ]:
# method 1
persian_gulf_standing[3][0]

In [ ]:
# method 2
forth_team = persian_gulf_standing[:][-2][0] 
forth_team

In [ ]:
# method 3
sorted(persian_gulf_standing, key=lambda i: i[1], reverse=True)[1][0]

**19) List Subset** \
Subset the following lists from color list:

In [ ]:
bl_gr = ['blue', 'green']
re_gr_br = ['red', 'green', 'brown']
pk_br_yl = ['pink', 'brown', 'yellow']

In [ ]:
colors = ['red', 'blue', 'green', 'yellow', 'brown', 'pink']

#### bl_gr = #?

In [ ]:
bl_gr = colors[1:3]
bl_gr

#### re_gr_br = #?

In [ ]:
# method 1
re_gr_br = colors[0:5:2]
re_gr_br

In [ ]:
# method 2
re_gr_br = colors[::2]
re_gr_br

#### pk_br_yl = #?

In [ ]:
# method 1
pk_br_yl = colors[3:]
pk_br_yl

In [ ]:
pk_br_yl = colors[-1:-4:-1]
pk_br_yl

**20) List Memory Usage** \
Consider the following line of code :

a = 300 , b = 124 , mylist = [300, 124, 100]

`Answer: 124 is between -5 and 256 and as you know python reserves memory for these numbers and these objects are created only once. So when you have a list with value 124 in it, it doesn't create a new object, Only a pointer point to the address as variable a point. so they have same id But for 300 it creates an object and b points to it. then when you create a list that has a value of 300 in it, it creates a new object with value 300 and it has the list's pointer. so the list pointer and variable b do not point to the same object and they have a different id.`

In [ ]:
mylist = [300, 124, 100]
a,b = 300,124

In [ ]:
print(id(a),id(b),id(mylist[1]))

In [ ]:
id(a) == id(mylist[0]) and id(b) == id(mylist[1])

In [ ]:
id(a) == id(mylist[0]) and id(b) != id(mylist[1])

In [ ]:
id(a) != id(mylist[0]) and id(b) == id(mylist[1])

In [ ]:
id(a) != id(mylist[0]) and id(b) != id(mylist[1])

In [ ]:
id(a) == id(mylist) and id(b) == id(mylist)

**21) Delete List items**

What is the output of the following code?

`answer : []
When your index is greater than the number of items in the list, del won't give an error. it removes all elements of the list. it means that it read indexes until the end of your list and then terminates.`

In [ ]:
inp_list = [10, 20, 30, 40]
del inp_list[0:6]
print(inp_list)

**22) Replace List Items with New Values** \
Ali put his student's math grades on a list. One of the students has been suspended with a score of 9.75. Today is Ali's birthday and he wants to give 10 to that student. we want you to find the value 9.75 in the given list, and replace it with 10. Only update the first occurrence of the item.

In [ ]:
grades = [12, 19, 14, 15, 17.5, 18, 10.25, 9.75, 19, 14, 12, 11.25, 17, 18, 13, 13, 15, 19, 18.5]

In [ ]:
print(grades)

In [ ]:
# method 1
grades_sorted = sorted(grades)
print(grades_sorted)

In [ ]:
grades_sorted[0] = 10

In [ ]:
print(grades_sorted)

In [ ]:
# method 2

# get the first occurrence index
index = grades.index(9.75)

# update item present at location
grades[index] = 10
print(grades)

**23) Simple List Indexing** \
Use indexes and print the first, third, and last element of the list below. \
Note: #? is just a comment indicating where you should write your code.

In [ ]:
num_list = [1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78]
# first_element = #? third_element = #? last_element =  #?

In [ ]:
first_element = num_list[0]
first_element

In [ ]:
third_element = num_list[2]
third_element

In [ ]:
last_element = num_list[-1]
last_element

**24) Tuple: Remove an Item** \
Write a Python program to remove item `"hafez"` from a tuple and save it in persian_poets_wo_hafez

`Answer: Tuples are immutable, so you can not remove elements.`

In [ ]:
persian_poets = ('saadi', 'frough', 'hafez', 'parvin', 'saeb')

In [ ]:
type(persian_poets)

In [ ]:
# method 1
## Using the merge of tuples with the + operator, you can remove an item, and it will create a new tuple.
persian_poets_wo_hafez  = persian_poets[:2] + persian_poets[3:]
persian_poets_wo_hafez

In [ ]:
# method 2
## first convert tuple to list
persian_poets = list(persian_poets)

In [ ]:
persian_poets

In [ ]:
# use different ways to remove an item of the list
persian_poets.remove('hafez')

In [ ]:
persian_poets

In [ ]:
# converting the tuple to list
persian_poets_wo_hafez = tuple(persian_poets)
persian_poets_wo_hafez

In [ ]:
# wo_hafez = tuple(list(persian_poets).remove("hafez"))
# wo_hafez

**25) Simple Tuple Indexing 2** \
Copy specific elements from one tuple to a new tuple\
Write a program to copy elements 44 and 55 from the following tuple into a new tuple. tuple2 = (44, 55)

In [ ]:
tuple1 = (11, 22, 33, 44, 55, 66)

In [ ]:
# method 1
tuple2 = tuple1[3:5]
tuple2

In [ ]:
# method 2
tuple2 = tuple1[3:-1]
print(tuple2)

**26) Unpack Tuple** \
Unpack the tuple into 4 variables.\
Write a program to unpack the following tuple into four variables: sohrab faramarz jahangir siyavash

In [ ]:
shahnameh_tuple = ('Sohrab', 'Faramarz', 'Jahangir', 'Siyavash')
#write your code here

In [ ]:
sohrab,faramarz,jahangir,siyavash = shahnameh_tuple

In [ ]:
sohrab

In [ ]:
faramarz

In [ ]:
jahangir

In [ ]:
siyavash

**27) Reverse Tuple** \
Reverse the following tuple and save it in reverse_num_tup :

In [ ]:
num_tup = (10, 20, 30, 40, 50)
# reverse_num_tup = #?

In [ ]:
reverse_num_tup = num_tup[::-1]
reverse_num_tup

**28) Simple Tuple Indexing** \
For the `mixed_tuple` variable defined below:
1) Access value 20 from the mixed_tuple
2) Access the charachter "g" from the mixed_tuple 
3) The given tuple is a nested one. Write a Python program that prints the value 20 with indexing.

In [ ]:
mixed_tuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [ ]:
# answer 1
mixed_tuple[1][1]

In [ ]:
# answer 2
# method 1
mixed_tuple[0][4]

In [ ]:
# answer 2
# method 2
mixed_tuple[0][-2]

In [ ]:
# answer 3
mixed_tuple.index([10,20,30])

**29) Building a Dictionary Incrementally** \
First use `{}` to create an empty dictionary named bmw, then add a `"red"` value to the bmw dictionary for the `"color"` key.

In [ ]:
bmw = {}

In [ ]:
# method 1
bmw = {'color':'red'}

In [ ]:
bmw

In [ ]:
# method 2
bmw['color'] = 'red'

In [ ]:
bmw

**30) Restrictions on Dictionary Keys and Values** \
Which of the following options defines a dictionary incorrectly: \
(Set the variable `q9_answer` to the option number you choose to answer this question)

1. foo = {1: 'aaaa', 3.14: 'bbbb', 6.18: 'ccc'}
2. foo = {[1, 3.14]: 'a', [2, 6.28]: 'b'}
3. foo = {(1, 3.14): 'a', (2, 12.56): 'b'}
4. foo = {dict: [], float: 2, int: 3.14}

`q9_answer = 2`

**31) Dictionary get() method 1** \
You can access the value of the dictionaty using `.get()` method:

syntax:\
`dictionary.get(keyname)`

for example:

In [ ]:
rostam_data = {
    "name": "Rostam",
    "nationality": "Turanian",
    "father": "Zal" ,
    "mother": "Rudaabeh",
    "spouse": "Tahmineh",
    "grandfather": "Sam",
    "delivery": "C-Section",
    "POB": "Zabol",
    "POD" : "Kabul"
    }
rostam_data.get('father')

According to the `Shahnameh`, the Simurgh instructed `Zal` upon how to perform a caesarean section, thus saving `Rudaba and the child Rostam`. In Persian literature ceaserean section is known as Rostamina.
Please **print the type of birth** (delivery) of Rostam using the `get()` method

In [ ]:
print(rostam_data.get('delivery'))

**32) Dictionary get() method 2** \
The .get() method allows us to retrieve the value of the wanted key from the dictionary while also preventing an error if the key is not found in the dictionary. and receive the previously set default value. For example, suppose we have a dictionary of students and their math score

```python
math = {
    'abtin': 19,
    'laleh': 20,
    'mehri': 18,
    }

```

If we do not know exactly which students are in the dictionary and, for example, if we want to read Kamran's math grade, then we will encounter an error.

In [ ]:
math = {
    'abtin': 19,
    'laleh': 20,
    'mehri': 18,
    }

In [ ]:
# math['kamran']

In [ ]:
math.get('kamran')

We can add a value to the `.get()` method to return that value if the requested key does not exist.
syntax:

In [ ]:
# dictionary.get(keyname, <value>)

A to return if the specified key does not exist. Default value is None

In [ ]:
math.get('kamran', 666)

In [ ]:
math.get('laleh',666)

The following dictionary is based on the book Shahnameh by Abolghasem Ferdowsi, a famous Iranian poet:

In [ ]:
rostam_data = {
    "name": "Rostam",
    "nationality": "Turanian",
    "father": "Zal" ,
    "mother": "Rudaabeh",
    "spouse": "Tahmineh",
    "grandfather": "Sam",
    "delivery": "C-Section",
    "POB": "Zabol",
    "POD" : "Kabul"
    }

In [ ]:
rostam_data

Because Rostam's `"date of birth"` might **not be in our dictionary**, use one of the `.get()` methods to print Rostam's date of birth and ensure that if Rostam's date of birth does not exist, the number `-87` is printed and no error occurs.

In [ ]:
print(rostam_data.get("data of birth", -87))

**33) Accessing Dictionary Values 1** \
The following dictionary is based on the book **Shahnameh** by **Abolghasem Ferdowsi,** a famous Iranian poet.
According to the dictionary below, print the name of Rostam's mother and wife using a single print() function.

In [ ]:
rostam_data = {
    "name": "Rostam",
    "nationality": "Turanian",
    "father": "Zal" ,
    "mother": "Rudaabeh",
    "spouse": "Tahmineh",
    "grandfather": "Sam",
    "delivery": "C-Section",
    "POB": "Zabol",
    "POD" : "Kabul"
    }

In [ ]:
rostam_data

In [ ]:
# print the name of Rostam's mother and wife using a single print() function.
print(f"the name of Rostams mother's and wife is {rostam_data['mother'],rostam_data['spouse']}")

In [ ]:
print(f"mother's name: {rostam_data['mother']}, rostam's wife:{rostam_data['spouse']}")

**34) Accessing Dictionary Values 2** \
The following dictionary is based on the book **Shahnameh** by **Abolghasem Ferdowsi**, a famous Iranian poet.
**Rostam** nationality has been registered as a **Turanian**. Please change **Rostam** nationality to **Iranian.**

In [ ]:
rostam_data = {
    "name": "Rostam",
    "nationality": "Turanian",
    "father": "Zal" ,
    "mother": "Rudaabeh",
    "spouse": "Tahmineh",
    "grandfather": "Sam",
    "delivery": "C-Section",
    "POB": "Zabol",
    "POD" : "Kabul"
    }

In [ ]:
rostam_data

In [ ]:
rostam_data['nationality'] = 'Iranian'

In [ ]:
rostam_data

**35) Accessing Dictionary Values 3** \
The following dictionary is based on the book **Shahnameh** by **Abolghasem Ferdowsi,** a famous Iranian poet.
Rostam's children were **Sohrab, Faramarz, Jahangir, Siyavash,** and **Banu-Goshasp.** Please add a list of Rostam's children's names with the key childrens to rostam_data dictionary.

In [ ]:
rostam_data = {
    "name": "Rostam",
    "nationality": "Turanian",
    "father": "Zal" ,
    "mother": "Rudaabeh",
    "spouse": "Tahmineh",
    "grandfather": "Sam",
    "delivery": "C-Section",
    "POB": "Zabol",
    "POD" : "Kabul"
    }

In [ ]:
rostam_data["Rostam's children"] = ["Sohrab", "Faramarz", "Jahangir", "Siyavash","Banu-Goshasp"]

In [ ]:
rostam_data

In [ ]:
# del rostam_data['POD']
# rostam_data.pop('name')
rostam_data
# dir(rostam_data)

In [ ]:
rostam_data = ['Rostam','Zal','Sam']

while rostam_data:
    value = rostam_data.pop()
    print(value)

print(rostam_data)

**36) Convert a list to a dictionary** \
You can also construct a dictionary with the built-in `dict()` function. The argument to `dict()` should be a sequence of key-value pairs.
We have a list called `persian_gulf_standing` that contains pairs, the name of the football team and its position in the `Iranian Football Premier League` (Persian Gulf). We ask you to convert the following list into a dictionary with the same name based on the description provided.

In [ ]:
persian_gulf_standing = [
    ['Esteghlel F.C', 1],
    ['Sepahan', 2],
    ['Perspolis', 3],
    ['Gol Gohar', 4],
    ['Foolad', 5]
]

In [ ]:
type(persian_gulf_standing)

In [ ]:
persian_gulf_standing = dict(persian_gulf_standing)

In [ ]:
type(persian_gulf_standing)

**37) Arash site users** \
Arash has a list of site users and wants to save them using one of the Python data structures. Initially, he intended to create a list of his users. However, we explained to him that while adding and deleting items at the end of the list is quick, doing so at the beginning of the list is slow because all of the other items must be shifted. Finally, we advised him to use a dictionary because hashes allow him to access all data in a short period of time.

Arash users information is available below:

id	name	family \
1	Kourosh	Kouroshi \
2	Shirin	Shirini \


Please help him put them in a dictionary called `arash_users.` In such a way that it has access to the information of its users via `id.` for example:

In [ ]:
arash_users = [["Kourosh","Kouroshi"],["Shirin","Shirini"]]

In [ ]:
arash_users

In [ ]:
type(arash_users)

In [ ]:
arash_users = dict(arash_users)

In [ ]:
arash_users['Shirin']

In [ ]:
arash_users = {
    1: {'name': 'Kourosh','family':'Kouroshi'},
    2: {'name': 'Shirin','family':'shirini'},
}

In [ ]:
arash_users

In [ ]:
arash_users[1]['name']

**38) A deeper look at the dictionary**

Which of the following **does not describe** a dictionary? \
(Set the variable `q1_answer` to the option number you choose to answer this question.)

1) Dictionary is mutable.
2) Dictionary is dynamic. It can grow and shrink as needed.
3) Dictionary can be nested. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.
4) Dictionary elements are accessed by their position in the dictionary, via `indexing`

`answer: 4`

**39) Set operations**

- Make a set of **multiples of 3** and name it <font color=red>**X**</font>.

In [ ]:
X = {1,3,6,9,12,15}

In [ ]:
n = 3
m_3 = set(list(range(n,100,n)))
print(m_3)

- Make a set of **multiples of 5** and name it <font color=red>**Y**</font>.

In [ ]:
Y = {1,5,10,15,20,25}

In [ ]:
n = 5
m_5 = set(list(range(n,100,n)))
m_5

- baraye namayesh mazareb 5 ke dar mazareb 3 nistand

In [ ]:
print(m_3 - m_5)

In [ ]:
import itertools
g = itertools.count(5,5)

In [ ]:
next(g)

- Can you find the **multiples of 15** using the <font color=red>**UNION** >> **&**</font> operator and store it in variable <font color=red>**Z1**</font>?

In [ ]:
# in operator fght beyne do ta set tarif mishavad
Z1 = X & Y
Z1

- Can you find the **multiples of 15** using the <font color=red>**intersection()**</font> method and store it in variable <font color=red>**Z2**</font>?

In [ ]:
X | Y

In [ ]:
Z2 = X.intersection(Y)
Z2

- Then find the multiples of 5 that are not divisible by 3. (hint: use the operator - or use the <font color=red>**difference()**</font> method)

In [ ]:
Y - X

In [ ]:
# vorodi in operation beyne mitavanad set ya har iterable digari bashad
Y.difference(X)

- after that use the <font color=red>**+**</font> operators or the <font color=red>**union()**</font> method to make a list of numbers that are either divisible by 5 **or** divisible by 3, **or** divisible by both.

In [ ]:
X.union(Y)

**40) Add an element to the set**

Oops! apparently one of the prime numbers below One thousand, 997, is missing. Can you add it to <font color=red>**primes**</font> vaiable? Then check to see if 997 is in primes variable.

In [ ]:
primes = {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41,
          43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,
          101, 103, 107, 109, 113, 127, 131, 137, 139, 149,
          151, 157, 163, 167, 173, 179, 181, 191, 193, 197,
          199, 211, 223, 227, 229, 233, 239, 241, 251, 257,
          263, 269, 271, 277, 281, 283, 293, 307, 311, 313,
          317, 331, 337, 347, 349, 353, 359, 367, 373, 379,
          383, 389, 397, 401, 409, 419, 421, 431, 433, 439,
          443, 449, 457, 461, 463, 467, 479, 487, 491, 499,
          503, 509, 521, 523, 541, 547, 557, 563, 569, 571,
          577, 587, 593, 599, 601, 607, 613, 617, 619, 631,
          641, 643, 647, 653, 659, 661, 673, 677, 683, 691,
          701, 709, 719, 727, 733, 739, 743, 751, 757, 761,
          769, 773, 787, 797, 809, 811, 821, 823, 827, 829,
          839, 853, 857, 859, 863, 877, 881, 883, 887, 907,
          911, 919, 929, 937, 941, 947, 953, 967, 971, 977,
          983, 991}

In [ ]:
print(primes)

In [ ]:
# output be sorate inplace anjam mishavad
# append in list -- add in set
# extend in list -- update in set
# dar set order matrah nist
primes.add(997)

In [ ]:
print(primes)

In [ ]:
997 in primes

**41) A list or a set, ay there's the point**

The following is a set of prime numbers **less than 1000.** Can you check to see if the numbers **463, 149,** and **973** are prime? **Which is better for determining the presence or absence of an item in a group of items, a list or a set?**

`answer: set`

In [ ]:
primes = {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41,
          43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,
          101, 103, 107, 109, 113, 127, 131, 137, 139, 149,
          151, 157, 163, 167, 173, 179, 181, 191, 193, 197,
          199, 211, 223, 227, 229, 233, 239, 241, 251, 257,
          263, 269, 271, 277, 281, 283, 293, 307, 311, 313,
          317, 331, 337, 347, 349, 353, 359, 367, 373, 379,
          383, 389, 397, 401, 409, 419, 421, 431, 433, 439,
          443, 449, 457, 461, 463, 467, 479, 487, 491, 499,
          503, 509, 521, 523, 541, 547, 557, 563, 569, 571,
          577, 587, 593, 599, 601, 607, 613, 617, 619, 631,
          641, 643, 647, 653, 659, 661, 673, 677, 683, 691,
          701, 709, 719, 727, 733, 739, 743, 751, 757, 761,
          769, 773, 787, 797, 809, 811, 821, 823, 827, 829,
          839, 853, 857, 859, 863, 877, 881, 883, 887, 907,
          911, 919, 929, 937, 941, 947, 953, 967, 971, 977,
          983, 991}
check_13 = 13 in primes
print("13 is prime: ",check_13)

In [ ]:
check_463 = 463 in primes
check_149 = 149 in primes
check_973 = 973 in primes

In [ ]:
print(check_149,check_463,check_973)

In [ ]:
# magic command >> %timeit
%timeit 463 in primes

In [ ]:
# magic command >> %timeit
%timeit 1 in primes

In [ ]:
# magic command >> %timeit
%timeit 3 in primes

- `har che data dar list bishtar bashad cond hodan va afzayesh zaman ejra barname bishtar mishavad.`

In [ ]:
# magic command >> %timeit
%timeit 468 in primes

In [ ]:
# magic command >> %timeit
%timeit 908 in primes

In [ ]:
primes_list = list(primes)
print(primes_list)

In [ ]:
def func(
    a, b, c, num,
    *args,
    **kwargs
):
    return a + b

**42) One-digit prime numbers**

Create a Set of one-digit prime numbers and store it in the primes variable and print it.

In [ ]:
primes = {2,3,5,7}

In [ ]:
# show two digit
n = 2

for num in range(10**(n-1),10**(n)):
    print(num,end=' ')

In [ ]:
# one-digit prime numbers
def is_prime(num):
    return True

In [ ]:
n = 3

for num in range(10 ** (n-1), 10 ** (n)):
    if is_prime(num):
        print(num)

# Challenge: First Dublicate
Given an array `a` that contains only numbers in the range from `1` to `a.length`, find the first duplicate **number** for which the second occurrence has the minimal index. In other words, if there are more than 1 duplicated number, print the **number** for which the second occurrence has a smaller index than the second occurrence of the other number does. If there are no such elements, print -1.

## Example:

For a = [2, 1, 3, 5, 3, 2], the output should be 3.\
There are 2 duplicates: numbers 2 and 3.\
The second occurrence of 3 has a smaller index than the second occurrence of 2 does, so the answer is 3.\
For a = [2, 2], the output should be 2;
For a = [2, 4, 3, 5, 1], the output should be -1.

In [ ]:
a = [2, 4, 3, 5, 1]
a

In [ ]:
mySet = set()
for el in a:
    if el in mySet:
        print(el)
        break
    mySet.add(el)
else:
    print(-1)

**43) Conditional Sum**

Ali is TA. He wants to calculate the student's final score based on three scores and if their mean value is between 16 and 20, give them 20, otherwise, put the actual mean score. Help him write a program that gets three input as scores and give the result.

In [ ]:
a = float(input("input first number: "))
b = float(input("input second number: "))
c = float(input("input third number: "))
# print(a,b,c)
mean_var = (a+b+c) / 3

In [ ]:
if mean_var in range(16,20):
    print(20)
else:
    print(mean_var)

**44) Vowel Or Consonant**

Write a Python program to check whether an alphabet is a vowel or consonant.\
**note:** input alphabet can also be capital

In [ ]:
input_alphabet  = str(input("input your character: "))
if input_alphabet.lower() in ['a','e','i','o','u','y']:
    print(f'{input_alphabet} is a vowel')
else:
    print(f'{input_alphabet} is a constant')

**45) Grading System**

I want to develop a system that divides the entrance exam scores of the python class members into four categories as follows: 

Marks                            Grade\
 |  90              |               A|\
 |  80 and <= 90    |               B|\
 |>= 60 and <= 80   |               C|\
 | below 60         |               D|
 
Get a score number as input and print the desired class name

In [ ]:
Mark = float(input("input your score: "))

if Mark > 90:
    print('A')
elif Mark > 80 and Marks <= 90:
    print('B')
elif Mark >= 60 and Marks <= 80:
    print('C')
elif Mark < 60:
    print('D')

**46) Triangle Type**

Write a program to get three numbers as the sides of a triangle and check whether it is an equilateral, isosceles, or scalene triangle.

***Note :***

- An equilateral triangle is a triangle in which all three sides are equal.
- A scalene triangle is a triangle that has three unequal sides.
- An isosceles triangle is a triangle with (at least) two equal sides.

In [ ]:
slide_a = float(input("input your score: "))
slide_b = float(input("input your score: "))
slide_c = float(input("input your score: "))
# print(slide_a,slide_b,slide_c)

if slide_a == slide_b == slide_c:
    print('equilateral')
elif slide_a != slide_b and slide_a != slide_c and slide_b != slide_c:
    print('scalene triangle')
elif slide_a == slide_b or slide_a == slide_c or slide_b == slide_c:
    print('isosceles')

**47) Largest Number**

Write a program to find the largest number out of three numbers given by the user.  


***Note :*** Don't sort numbers. just use conditional statements

In [ ]:
num_a = float(input("input your score: "))
num_b = float(input("input your score: "))
num_c = float(input("input your score: "))
# print(num_a,num_b,num_c)

In [ ]:
# method A
if num_a < num_b and num_b < num_c:
    print(f'the largest number user {num_c}')
elif num_a > num_b and num_b > num_c:
    print(f'the largest number user {num_a}')
elif num_a > num_b and num_b < num_c and num_a > num_c:
    print(f'the largest number user {num_a}')
elif num_a > num_b and num_b < num_c and num_a < num_c:
    print(f'the largest number user {num_c}')

In [ ]:
# method B
if num_a >= num_b and num_a >= num_c:
    print(str(num_a),"is largest number")
elif num_b >= num_c:
    print(str(num_b),"is largest number")
else:
    print(str(num_c),"is largest number")

**48) Easy Calculater**

Write a python program to accept two numbers and a mathematical operator and performs operation accordingly.
mathematical operations are + - * /

In [ ]:
num_a = float(input("input your number: "))
num_b = float(input("input your number: "))
print(num_a,num_b)

In [ ]:
sum_ab = num_a + num_b
subtraction = num_a - num_b
division = num_a / num_b
multiplication = num_a * num_b
print(sum_ab,subtraction,division,multiplication)

**49) Conditional Job Working**

Ali has doubts about doing something. He asks his friend to choose a number between `500` and `1000` and if the tens digit is even, do the work.\
Otherwise, don't do it. (e.g in 542, 4 is a tens digit. Also, it is even ).\
Write a program that does this for him. if the tens digit is even print `Do It!` otherwise, print `Don't Do It!`

***Note:***  the input number must be in the range [500, 1000). otherwise, print Invalid Number!

**Note:** Don't convert the number to string to get tens digit!

In [ ]:
num = int(input("please choose a number between 500 and 1000: "))

if num in range(500,1000):
    tens = (num // 10) % 10
    if tens % 2 == 0:
        print('Do It!')
    else:
        print("Don't Do It!")
else:
    print('Invalid Number!')

**50) Even or odd**

Write a Python program that receive a number from the user and determines if a given integer is even or odd.

In [ ]:
num = int(input("please enter your number: "))

if num % 2 == 0:
    print('even')
else:
    print('odd')

**51) The weekday name**

Write a Python code that would read any integer day number and show the day's name in the word

In [ ]:
week_num = int(input("please enter your weekday name: "))

if week_num == 0:
    print('saturday')
elif week_num == 1:
    print('sunday')
elif week_num == 2:
    print('monday')
elif week_num == 3:
    print('tuesday')
elif week_num == 4:
    print('wednesday')
elif week_num == 5:
    print('thursday')
elif week_num == 6:
    print('friday')

**52) Angles of a triangle**

Write a python program that receive three angles from the user to determine whether the supplied angle values may be used to construct a triangle.

In [ ]:
angle_a = float(input("please enter first angle: "))
angle_b = float(input("please enter second angle: "))
angle_c = float(input("please enter third angle: "))
sum_angle_abc = angle_a + angle_b + angle_c
if  sum_angle_abc == 180:
    print("used to construct a triangle")
else:
    print("please another number")

**54) Quadratic equatione**

Write a Python program that receive three numbers from the user to calculate the root of a Quadratic Equation.

`ax + bx + c`

As you know, the roots of the quadratic equation can be obtained using the following formula:

`x = (-b  )/2a`

- If the delta is a number greater than zero (>0), our quadratic equation has two roots as follows:  
`x1 = (-b + )/2a`
`x2 = (-b - )/2a`

- If the delta is zero, then there is exactly one real root:
`x = -b/2a`

- If the delta is negative, then there are no real roots:

We also know that Delta equals:
` = b - 4ac`

In [ ]:
a = float(input("please enter first number: "))
b = float(input("please enter second number: "))
c = float(input("please enter third number: "))
qe = (a * (x**2)) + (b * x) + c
print(qe)

In [ ]:
delta = (b ** 2) - (4*a*c)
print(delta)

In [ ]:
if delta > 0:
    x1 = (-b + ((delta) ** (0.5)))/(2*a)
    x2 = (-b - ((delta) ** (0.5)))/(2*a)
    print(x1,x2)
elif delta == 0:
    x = -b / (2*a)
    print(x)
elif delta < 0:
    print('there are no real roots:')

**55) Blood pressure category**

write code that takes the user's systolic and diastolic blood pressures and tells them category of their current condition.

| BLOOD PRESSURE CATEGORY | SYSTOLIC mm Hg	and/or	DIASTOLIC mm Hg |\
| NORMAL | LESS THAN 120 and LESS THAN 80 |\
| ELEVATED | 120  129 and LESS THAN 80 |\
| HIGH BLOOD PRESSURE (HYPERTENSION) STAGE 1 | 130  139 or 80  89 |\
| HIGH BLOOD PRESSURE (HYPERTENSION) STAGE 2 | 140 OR HIGHER or	90 OR HIGHER |\
| HYPERTENSIVE CRISIS (consult your doctor immediately) | HIGHER THAN 180 and/or HIGHER THAN 120 |

In [ ]:
systolic = float(input("please enter systolic: "))
diastolic = float(input("please enter diastolic: "))

if systolic < 120 and diastolic < 80:
    print('Normal')
elif 120 < systolic < 129 and diastolic < 80:
    print('Elevated')
elif 130 < systolic < 139 or 80 < diastolic < 89:
    print('HIGH BLOOD PRESSURE (HYPERTENSION) STAGE 1')
elif 140 < systolic or 89 < diastolic:
    print('HIGH BLOOD PRESSURE (HYPERTENSION) STAGE 2')
elif 180 < systolic or diastolic > 120:
    print('HYPERTENSIVE CRISIS (consult your doctor immediately)')

**56) Area of geometric shapes**

Create an application that initially displays a list of geometric shapes to the user.\
By entering a number, the user can pick one of those shapes.\
Then, based on the geometric shape selected, obtain the shape parameters from the user.\
Finally, as the output, display the shape's area.

In [ ]:
side_a = int(input('please enter your first number: '))
side_b = int(input('please enter your second number: '))

if side_a == side_b:
    area = side_a * side_a
    print(f'area is {area}')
elif side_a != side_b:
    area = side_a * side_b
    print(f'area is {area}')

**57) Find Median**

Write a Python program to get 3 inputs from the user and find the median of three values without sorting values.\
only use conditional statements, not any python methods.

**note:** `input()` gives you string. don't forget to convert it to a float number

In [ ]:
num_a = float(input('please enter your first number: '))
num_b = float(input('please enter your second number: '))
num_c = float(input('please enter your third number: '))

In [ ]:
if num_a > num_b:
    if num_a < num_c:
        median = a
    elif num_b > num_c:
        median = b
    else:
        median = c
else:
    if num_a > num_c:
        median = a
    elif num_b < num_c:
        median = b
    else:
        median = c

print("This median is", median)

**58) Nest condition inside f-string**

**You can nest expressions to evaluate inside expressions in an f-string**

You are given a set of prime numbers `less than 1000`. Create a program that receives a number and then uses a single print() function with **F-String** to determine whether or not it was a prime number.

for example:

**"997 is a prime number."**

**"998 is not a prime number."**

number = {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41,
     43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,
     101, 103, 107, 109, 113, 127, 131, 137, 139, 149,
     151, 157, 163, 167, 173, 179, 181, 191, 193, 197,
     199, 211, 223, 227, 229, 233, 239, 241, 251, 257,
     263, 269, 271, 277, 281, 283, 293, 307, 311, 313,
     317, 331, 337, 347, 349, 353, 359, 367, 373, 379,
     383, 389, 397, 401, 409, 419, 421, 431, 433, 439,
     443, 449, 457, 461, 463, 467, 479, 487, 491, 499,
     503, 509, 521, 523, 541, 547, 557, 563, 569, 571,
     577, 587, 593, 599, 601, 607, 613, 617, 619, 631,
     641, 643, 647, 653, 659, 661, 673, 677, 683, 691,
     701, 709, 719, 727, 733, 739, 743, 751, 757, 761,
     769, 773, 787, 797, 809, 811, 821, 823, 827, 829,
     839, 853, 857, 859, 863, 877, 881, 883, 887, 907,
     911, 919, 929, 937, 941, 947, 953, 967, 971, 977,
     983, 991, 997}

In [ ]:
def isPrime(number):
    # rule 1: number should be positive, and greater than 1.
    if number > 1:
        # iterate over a range from 2 to half the number.
        for i in range(2, number//2):
            # rule 2: shouldn't have any positive divisor 
            # order than 1 and itself.
            if(number % i) == 0:
                return False
         
        return True
    else:
        return False

if __name__ == '__main__':
    number = int(input("Enter number to check if it's prime: "))
    
    if isPrime(number):
        print(f'{number} is a prime number')
    else:
        print(f'{number} is not a prime number')

**59) Output with desired shape 1**

Write code that produces the following output:use **(break)**

In [37]:
t = "* * * * * * * * * *"
z = "* * * * *"

In [38]:
# type(t)
print(z)

* * * * *

In [70]:
n = 0
while n < 10:
    print(t)
    n = n + 1
    if n > 3:
        print(z)
        break

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* *

**60) Output with desired shape 2**

Write code that produces the following output:(use **continue**)

In [54]:
t = "* * * * * * * * * *"
z = "* *"

In [82]:
n = 0
while n < 10:
    if n not in [2,3,6,7]:
        print(t)
        n = n + 1
        continue
    else:
        print(z)
        n = n + 1
        continue

* * * * * * * * * *
* * * * * * * * * *
* *
* *
* * * * * * * * * *
* * * * * * * * * *
* *
* *
* * * * * * * * * *
* * * * * * * * * *

**61) Raise the number to the power of 8**

Write a program that takes a number from the user and raises it to the power of eight and shows it to the user, then receives a new number and repeats this until the user enters zero.

In [100]:
x = int(input("please enter your number: "))
n = 0
while x < 999:
    if x != 0:
        print(x ** 8)
        n = n + 1
        break
        
    else:
        print('user enters zero.')
        break

please enter your number: 4
65536

**62) My special numbers**

Write code that finds the numbers  between **7801** and **8853**  that  sum of all their integers are divisible by **13.**

In [191]:
n = 7801
x = []
while 7801 <= n and n < 8853:
    if n % 13 == 0:
        # print('their integers are divisible by 13.')
        x.append(n)
    n = n + 1

print(sum(x))

666120

**63) Mini Program**

***We want you to write a program that works as follows:***\
First, show the user the following statement that includes the options that the user can choose.

```python
  Options:
     0      Quit
     1      Check if I know you
     2      Introduce yourself to me
     3      Make me forget you
     4      Print a list of people I know   

```

Next, get input as an option from the user.  (get input from the user until the user give 0 as input)

- If the user selects option `0`, tell the user `bye!` and quit the program.
- If the user selects option `1`,  get the user's name as input. if it was in `namelist` tell the user `I know you! :D.` otherwise, tell I don't know you :/
- If the user selects option 2, get the user's name as  input, if it was in `namelist` tell the user `I knew you already.`
otherwise, add it to `namelist` and tell the user `Now I know you!`
- If the user selects option `3`, get the user's name as input, if it was in `namelist` , remove it and tell the user `Now I don't know you..` otherwise, tell `I already didn't know you `
 
- If the user selects option 4. show the usernames in `namelist`  to him/her

In [ ]:
print("""

     0      Quit
     1      Check if I know you
     2      Introduce yourself to me
     3      Make me forget you
     4      Print a list of people I know   

""")

print()

n = int(input("please enter your number: "))
namelist = ['reza','ali']
while n < 5:
    if n == 0:
        print('bye')
        break
    elif n == 1:
        name = input("please get the user's name: ")
        if name in namelist:
            print('I know you! :D.')
        else:
            print("I don't know you :/")
    elif n == 2:
        name = input("please get the user's name: ")
        if name in namelist:
            print('I knew you already.')
        else:
            namelist.append(name)
            print('Now I know you!')
    elif n == 3:
        name = input("please get the user's name: ")
        if name in namelist:
            namelist.remove(name)
            print("Now I don't know you..")
        else:
            print("I already didn't know you")
    elif n == 4:
        if namelist == []:
            print("I don't know you to begin with.")
        else:
            for name in namelist:
                print("I know %s!" % name)
    else:
        print("I don't understand :(")
    
    print()