# Defining a Set

Python's built-in set type has the following characteristics:

- Sets are unordered.
- Set elements are unique. Duplicate elements are `not allowed`.
- A set itself may be `modified`, but the elements contained in the set must be of an `immutable type`.

Let's see what all that means, and how you can work with sets in Python.

A set can be created in two ways. First, you can define a set with the built-in cat() function:

```python
x =set(<iter>)
```

In [8]:
# list exist iterative element
x = [1,2,3,1,1,1,1,1]
x

[1, 2, 3, 1, 1, 1, 1, 1]

In [9]:
len(x)

8

In [10]:
type(x)

list

In [11]:
s = {}
s

{}

In [12]:
type(s)

dict

In [13]:
# Set has not iterative element
# Set has not ordered and can use slice
s = {1,2,3,1,1,1,1,1}
s

{1, 2, 3}

In [14]:
type(s)

set

- Use `for loop` in `set`

In [15]:
for item in s:
    print(item)

1
2
3

- In `set` use any data type

In [16]:
s = {'ali',1,2,3,1}

In [17]:
s

{1, 2, 3, 'ali'}

In [18]:
type(tuple())

tuple

In [19]:
type(set())

set

- For solving iterative element in `list`, you should convert to `set`.

In [20]:
s = set([1,2,3,3,2])

In [21]:
s

{1, 2, 3}

In [22]:
type(s)

set

- Set and list are mutable.

In [23]:
l = [1,2,3]

In [24]:
l.append(4)

In [25]:
l

[1, 2, 3, 4]

In [26]:
type(l)

list

In [27]:
r = {1,2,3}

- `add` is equal `append` in list

In [28]:
r.add(4)

In [29]:
r

{1, 2, 3, 4}

In [30]:
type(r)

set

In [31]:
s

{1, 2, 3}

- In `list[]`, use `update()` for updating element.
- In `set{}`, use `extend()` for updating element.

In [32]:
s.update([1,2,3,4,5,6])
s

{1, 2, 3, 4, 5, 6}

- When a set is defined this way, each <obj> becomes a distinct element of the set, even if it is an iterable. \
    This behaviour is similar to that of the `.append()` list method.
- Thus, the sets shown above can also be defined like this:

In [33]:
x = {'foo','bar','baz','foo','qux'}
x

{'bar', 'baz', 'foo', 'qux'}

In [34]:
x = {'q','u','u','x'}
x

{'q', 'u', 'x'}

- for removing an element in set, use `-`.

In [35]:
s - {1,2,3,4}

{5, 6}

- for adding an element in set, can't add an element via `+`.

In [36]:
# s + {4}

- For `union` use the union set with another set.

In [37]:
s.union({99,9,0})

{0, 1, 2, 3, 4, 5, 6, 9, 99}

- For `intersection` use the intersection `set{}` with another `set{}`.

In [38]:
s.intersection({1,2,3})

{1, 2, 3}

**To recap:**

- The argument to `set()` is an **iterable.** It generates a list of elements to be placed into the set.
- The objects in curly braces are placed into the set intact, `even if they are iterable.`

Observe the difference between these two set definitons:

- For `difference` use the difference `set{}` with another `set{}`.

In [39]:
s.difference({2})

{1, 3, 4, 5, 6}

- A set can be empty. However, recall that Python interprets empty curly braces `({})` as an empty dictionary, so the only way to define an empty set is with the `set()` functions.

In [40]:
set('ali hejazi')

{' ', 'a', 'e', 'h', 'i', 'j', 'l', 'z'}

In [41]:
x = set()
type(x)

set

- An empty set is false in a Boolean context

In [42]:
x = set()
bool(x)

False

In [43]:
x or 1

1

In [44]:
x and 1

set()

- Python does not require this, though. `The elements in a set can be objects of different types:`

In [45]:
x = {42,'foo',3.14159,None}
x

{3.14159, 42, None, 'foo'}

- Don't forget that set elements must be immutable (you will later learn that the objects must actally be hashable).\
For example, a tuple may be included in a set:

In [46]:
x = {42,'foo',(1,2,3),3.14159}
x

{(1, 2, 3), 3.14159, 42, 'foo'}

- In `set` doesn't use `list` inside it. `[TypeError: unhashable type: 'list']`
- Elements of set and dictionary must be Hashable.
- In `list` doesn't use `dictionary` inside it. 

a = [1,2,3]
{a}

or

a = {[1,2,3]}

In [47]:
s = {'ali',1,(1,2,3),int}
s

{(1, 2, 3), 1, int, 'ali'}

In [48]:
# s = {{'ali':2}}

In [49]:
len(s)

4

- use `set` for `searching`.

In [50]:
1 in s

True

In [51]:
2 in s

False

In [52]:
x = list(range(10000))

In [53]:
s = set(range(10000))

In [54]:
len(x),len(s)

(10000, 10000)

In [55]:
4000 in x

True

In [56]:
%timeit 9999 in x

68.3 µs ± 10.3 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [57]:
4000 in s

True

In [58]:
%timeit 9999 in s

41.1 ns ± 1.52 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

# Immutable set with frozenset

The `frozenset()` function returns an immutable forzenset object initalized with elements from the given iterable.\

The syntax of `forzenset()` function is:

```python
firzenset([iterable])
```
- `iterable` (Optional) - the iterable which contains elements to initialize the frozenset with:
- Iterable can be set, dictionary, tuple, etc.

In [59]:
fs = frozenset([1,2,3])
fs

frozenset({1, 2, 3})

Frozen set is just an immutable version of a Python set object. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.

In [60]:
# list
s = set([1,2,3])
s

{1, 2, 3}

In [61]:
s.add(4)

In [62]:
s

{1, 2, 3, 4}

- `TypeError: unhashable type: 'set'`

In [63]:
# hash(s)

In [64]:
s

{1, 2, 3, 4}

In [65]:
s.remove(3)

In [66]:
s

{1, 2, 4}

- `set` is immutable and can't change object

In [67]:
# frozen set immutable
fs = frozenset([1,2,3])

In [68]:
fs

frozenset({1, 2, 3})

In [69]:
hash(fs)

-272375401224217160

- In frozenset cant remove item [`AttributeError: 'frozenset' object has no attribute 'remove'`]

In [70]:
# fs.remove(3)