# String Operator

you have already seen the operators `+` and `*` applied to numeric operands in the section
on Operators and Expressions in Python. These two operators can be applied to strings as well.

In [1]:
a = 'mark'
a

'mark'

In [2]:
b = 'tom'

In [3]:
c = 'blue pen'

In [4]:
print(b,c)

tom blue pen

In [5]:
d = "mark's pen"
d

"mark's pen"

In [6]:
m = '''

mark has new pen
pen is so expensive
'''

print(m)

mark has new pen
pen is so expensive

## Concatination

In [7]:
f_name = 'Mark'
l_name = 'Test'

In [8]:
f_name +' '+ l_name

'Mark Test'

In [9]:
print('a'+'xyz'+'abc')

axyzabc

tips: can't multiply sequence by non-int of type 'str' `print('a' * 'b')`

In [10]:
print(2 * 'b')

bb

In [11]:
print(2 * 'b')

bb

The multiplier operand `n` must be an integer. You'd think it would be required to be a positive integer, but amusingly, it can be zero or negative, in which case the result is an empty string:

In [12]:
'foo' * -8

''

If you were to create a string variable and initialize it to the empty string by assigning it the value 'foo' * -8, anyone would rightly think you were a bit draft. But it would work.

TypeError: can't multiply sequence by non-int of type 'float' `'ali' * 1.2`

In [13]:
'a' in 'abc'

True

In [14]:
'x' in 'abc'

False

## Partial Match

In [15]:
'ne' in 'mark has new pen'

True

In [16]:
txt = "mark's car is blue"
if 'car' in txt:
    print("Found it")

Found it

## Exact Match

In [17]:
txt = 'mark'
txt == 'car'

False

## Regular Expression

In [18]:
import re

## Built-in String Function

As you saw in the tutorial on Basic Data Types in Python, Python provides many functions that are explored more fully below.

In [19]:
# encode
ord('?')

63

In [20]:
ord('!')

33

In [21]:
# decode
chr(97)

'a'

In [22]:
chr(356)

'Ť'

In [23]:
chr(1000)

'Ϩ'

In [24]:
0b1

1

7 bit + 1 bit (paritty)

In [25]:
0b100001

33

In [26]:
len('mark')

4

In [27]:
len([a,b,c])

3

In [28]:
str(2)

'2'

In [29]:
name = 'Hello World !'

In [30]:
name[4]

'o'

In [31]:
name = 'Ben'

In [32]:
len(name)

3

IndexError: string index out of range `name[len(name)]`

In [33]:
name[len(name) - 1]

'n'

Here are some examples of negative indexing

In [34]:
name

'Ben'

In [35]:
name[-1]

'n'

In [36]:
name[-2]

'e'

In [37]:
name[-len(name)]

'B'

In [38]:
name[-1] == name[len(name)-1]

True

IndexError: string index out of range `name[-10]`

For any non-empty string `s`,`s[len(s)-1]` and `s[-1]` both return the last character. There isn't any index that makes sense for an empty string.

## String Slicing

python also allows a form of indexing syntax that extracts substrings from a string known as string slicing. if `s` is a string, an expression of the form `s[m:n]` returns the portion of `s` starting with position `m`, and up to but not including position `n`:

In [39]:
name = 'python developer'

In [40]:
name[:]

'python developer'

In [41]:
# 2 >> inclusive and 5 >> exclusive
name[2:5]

'tho'

In [42]:
len(name[2:4])

2

In [43]:
# noghte shekast >> split point
split_point = 6

In [44]:
name[:split_point - 1]

'pytho'

In [45]:
name[:split_point] + name[split_point:]

'python developer'

In [46]:
name[:6]

'python'

In [47]:
name

'python developer'

In [48]:
name[0:6]

'python'

In [49]:
name[:2] + name[2:] == name

True

## Specifying a Stride in a String Slice

There is one more variant of the slicing syntax to discuss. Adding an additional: and a third index designates a stride (also called a step), which indicates how many characters to jump after retrieving each character in the slice.

For example, for the string `foobar`, the slice `0:6:2` starts with the first character and ends with the last character (the whole string) and every second character is skinned. This is shown in the following diagram:

In [50]:
name[-5:-2]

'lop'

In [51]:

name[-5:-2:2]

'lp'

In [52]:
name[::5]

'pner'

In [53]:
name[2::5]

'tdo'

In [54]:
# for revesing string use step [-1]
name[::-1]

'repoleved nohtyp'

## Interpolating Variables into a String

In Python version 3.6, a new string formatting mechanism was introduced.
This feature is formally named the Formatted String Literal, but is more usually referred to by its nickname `f-string`.

One simple feature of f-strings you can start using right away is variable interpolation. You can specify a variable name directly within an f-string literal, and Python will replace the name with the corresponding value.

For example, suppose you want to display the result of an arithmatic calculation. You can do this with a strightforward `print()` statement, seprating numeric values and string literals by commas:

In [55]:
name1 = 'software developer is __ year old'
age = 80
name = 'Software developer'

In [56]:
user = name + ' is ' + str(age) + " year's old"
user

"Software developer is 80 year's old"

In [57]:
f'{2+3} is {3+4} years old'

'5 is 7 years old'

In [58]:
f'{name} is {age} years old'

'Software developer is 80 years old'

In [59]:
email_template  = f'Hello {name} You are our winner. Good Luck'
email_template

'Hello Software developer You are our winner. Good Luck'

In [60]:
age = 80

In [61]:
print(f"""
Hello {name}!

You are turning to {age}! Happy Birthday!

""")

Hello Software developer!

You are turning to 80! Happy Birthday!

In [62]:
# create 30 spaces
f'Hi {name:30}! Bye'

'Hi Software developer            ! Bye'

In [63]:
# float limit 2 digits
f'Hi {1.2232312321:.2}'

'Hi 1.2'

In [64]:
# string is imutable

In [65]:
name

'Software developer'

In [66]:
a = name[0] + 's' + name[2:]

In [67]:
a

'Ssftware developer'

In [68]:
name

'Software developer'

TypeError: 'str' object does not support item assignment `name[1] = 's'`

In [69]:
# baraye namayaesh error dar string darim
x = 2
if not isinstance(x,str):
    raise TypeError('Input must be string!')

TypeError: Input must be string!

In [ ]:
name[:2] + name[2:] is name

In [ ]:
name[:] is name

In [ ]:
# baraye shekastan string be chand line
name = 'name is \
    reza \
    is tall'

name