**1) Write a program in python that prints hello world .**

In [1]:
print("hello world")

hello world

**2) Which statement is true? and why?**
1. In Python, a variable must be declared before it is assigned a value 
2. In Python, a variable may be assigned a value of one type, and then later assigned a value of a different type

In [3]:
x = True
y = False
print(x,y)

True False

**3) Consider the following sequence of statements :**\
1.These statements refer to different variables.\
2.These statements refer to the same variable.\
Answer: `Case is significant in Python variable names, so these are all different variables.`

In [7]:
employeenumber = 4398
EmployeeNumber = 4398
employeeNumber = 4398

In [13]:
id(employeenumber)

140049492288272

In [14]:
id(EmployeeNumber)

140049492288880

In [15]:
id(employeeNumber)

140049492289008

**4) Following the execution of these statements, Python has created how many objects and how many references?**\
`1.One object, two references`\
2.One object, one reference\
3.Two objects, one reference\
4.Two objects, two references

In [17]:
n = 300
m = n

In [21]:
id(m)

140049495544880

In [23]:
id(n)

140049495544880

**5) Multiple Variable's Definition**\
Assign values `"pytopia" , 2022 and 3.14` to `var_s , var_i , var_f` in **only one line** of code.

In [32]:
var_s,var_i,var_f = 'pytopia',2022,3.14

In [35]:
var_s

'pytopia'

In [37]:
var_i

2022

In [39]:
var_f

3.14

**6) Variable Assignment**\
Consider the following sequence of statements :

Since numbers between -5 and 256 are used a lot, Python allocates memory for these numbers from the beginning in RAM. For this reason, these objects are made only once and at any time create a variable with these values, instead of making new objects we just create some new pointers to those objects. But for any other numbers any time we create a variable we also create new objects.

Somehow, it can be said that the numbers in this range are unique and occupy the RAM once.

In [41]:
m = 245
n = 245
x = 268
y = 268
z = y

In [43]:
print(id(m),id(n),id(x),id(y),id(z))

140049696577584 140049696577584 140049123856112 140049123855280 140049123855280

In [44]:
id(m) != id(n), id(x) != id(y)

(False, True)

In [46]:
id(m) == id(n), id(x) == id(y)

(True, False)

In [49]:
id(m) == id(n), id(x) != id(y)

(True, True)

In [51]:
id(m) != id(n), id(x) == id(y)

(False, False)

In [53]:
id(z) == id(y)

True

In [55]:
id(z) != id(y)

False

**7) Quick Swap**

Assume we have two variables called input_1 and input_2 . Swap the values of the two variables so that input_1 has the value of input_2 and vice versa. Print out the two variables.  

Note: You must perform the swap in only 1 line of code, and without using any variables other than input_1 and input_2 .

In [60]:
input_1,input_2 = input_2,input_1

**8) Custom Swap** \
Ali has a problem with one of his python practices.\
He wants `to get two numbers as input from the user` and put them in input_1 and input_2 .\
then Swap the values of the two variables so that input_1 has the value of input_2 and vice versa.\ 
Finally, print out the two variables.

**Note: He must only use 3 variables in his code**

In [79]:
input_1 = int(input("Enter first number: "))
input_2 = int(input("Enter second number: "))

Enter first number: 1
Enter second number: 2

In [80]:
temp = input_1
input_1 = input_2
input_2 = temp

In [82]:
print(input_1,input_2)

2 1

**9) Easy Sum** \
We ask Ali to write a code that takes two inputs from the user and saves them in two desired variables, and then puts the sum of the two inputs in a variable and prints the result. Since Ali does not know the syntax of python, we ask you to help him to write this code!

Note: Use snake case format for variable names.

Hint: You can use the following code to take input from the user and convert it to an integer. (In future sessions we will explain how this code works).

You can change the name of the variable to anything you like.

`Note: When you are giving your input data, press Enter to end the process of giving input after you have done.`

In [87]:
input_1 = int(input('Enter a number: '))
input_2 = int(input('Enter another number: '))

Enter a number: 11
Enter another number: 12

In [90]:
sum_x = input_1 + input_2
print(sum_x)

23

**10) Warm-Up Variable Practice!** \
Ali's programming teacher asks him to define two variables inp_1 and inp_2 and assign values 10 and 35 to them. \
then put inp_1 + inp_2 in variable result and print it. \
Ali is a lazy student and asks you to do this for him!

In [94]:
inp_1,inp_2 = 10,35
sum_inp = inp_1 + inp_2
print(sum_inp)

45

**11) Bitwise Operators Quiz** \
4 is 100 in binary and 11 is 1011. \
What is the output of the following bitwise operators?

4: 0100 \
11: 1011

In [96]:
a = 4
b = 11
print(a | b, a >> 2)

15 1

**12) Operator and Expression** \
What is the output of the following code?

print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j)) 

1. True True False True \
2. False True True True \
3. True True False True \
4. False True False True

`answer: 2`

**13) List Chain Assignment** \
What is the output where indicated by #?:

`Hint: If you think the outputs are [2] and [3], think again!`

The reason is when you do `x = y = []` you define two pointers both pointing to one memory location. \
If you change that memory location with x, the changes are seen by y too, cause both are sharing one memory location.

So be careful when you use chain assignments. It may cause unexpected behaviours when used with mutable data types.

Note that with immutable variables, there is no problem like this, cause they are not gonna change.

In [99]:
x = y = []
x.append(2)
y.append(3)
print(x)
print(y)

[2, 3]
[2, 3]

**14) Append to The List** \
The append() method allows you to add items to your lists. \
Add the string "R" to the programming_langs list with append() method.

Note: Python's list contents are references unless documented otherwise, no copies are created when you pass a name to a method. This applies just as much to list.append() as to any other call; list.append() adds a reference to the list, not a copy.

In [105]:
programming_langs = ["Julia", "Python"] 
programming_langs.append("R")

In [107]:
programming_langs

['Julia', 'Python', 'R']

**15) List: Max, Min, Sum and Mean** \
Calculate the maximum, minimum, sum and mean of the following data using python's built-in functions:

In [129]:
random_num_data = [18, 60, -10, 17, 55, 8, -1, 31, 52, 31,
                    27, 14, 25, 0, -2, 15, -1, 50, 45, -4,
                    42, -10, 40, 3, 43, 55, 24, -17, 17, 54, 
                    19, 24, 44, 30, 24, 3, -17, 31, 45, -10, 
                    13, -12, 21, -13, 52, 57, -1, 37, 21, 42]

In [130]:
maximum = max(random_num_data)
maximum

60

In [131]:
minimum = min(random_num_data)
minimum

-17

In [132]:
sum_of_data = sum(random_num_data)
sum_of_data

1091

In [134]:
mean_of_data = sum(random_num_data) / len(random_num_data)
mean_of_data

21.82

**16) Second Largest Number In List** \
Find the second_largest number in the list:

`second_largest = 66`

In [159]:
num_list = [3, 47, 10, 15, 21, 28, 13, 45, 66, 12, 34, 56, 78]
num_list

[3, 47, 10, 15, 21, 28, 13, 45, 66, 12, 34, 56, 78]

In [148]:
# method 1
max(num_list)

78

In [149]:
num_list.remove(78)

In [150]:
max(num_list)

66

In [160]:
# method 2
sorted_list = sorted(num_list)
sorted_list

[3, 10, 12, 13, 15, 21, 28, 34, 45, 47, 56, 66, 78]

In [164]:
second_largest = sorted_list[-2]
second_largest

66

**17) List Quiz** \
Which of the following are `not true` about Python lists? (Choose all that may apply)

1. There is no limit to the size of a list.
2. All elements in a list must be of the same type.
3. A list may contain any type of object except another list
4. A given object may appear in a list more than once.

`answer: Choice 2, is not True. This statement is not relevant to the list data type in python. what it's referring though, is an array.
Choice 3, is not True. Alist can contain any object, including another list (nested list).`

**18) Nested List Indexing** \
Extract the fourth team list from persian_gulf_standing:

In [167]:
persian_gulf_standing = [
    ['Esteghlel F.C', 1],
    ['Sepahan', 2],
    ['Perspolis', 3],
    ['Gol Gohar', 4],
    ['Foolad', 5]
]

# forth_team = #Code here

In [171]:
# method 1
persian_gulf_standing[3][0]

'Gol Gohar'

In [173]:
# method 2
forth_team = persian_gulf_standing[:][-2] 
forth_team

['Gol Gohar', 4]

**19) List Subset** \
Subset the following lists from color list:

In [181]:
bl_gr = ['blue', 'green']
re_gr_br = ['red', 'green', 'brown']
pk_br_yl = ['pink', 'brown', 'yellow']

In [207]:
colors = ['red', 'blue', 'green', 'yellow', 'brown', 'pink']

#### bl_gr = #?

In [184]:
bl_gr = colors[1:3]
bl_gr

['blue', 'green']

#### re_gr_br = #?

In [203]:
# method 1
re_gr_br = colors[0:5:2]
re_gr_br

['red', 'green', 'brown']

In [205]:
# method 2
re_gr_br = colors[::2]
re_gr_br

['red', 'green', 'brown']

#### pk_br_yl = #?

In [208]:
# method 1
pk_br_yl = colors[3:]
pk_br_yl

['yellow', 'brown', 'pink']

In [213]:
pk_br_yl = colors[-1:-4:-1]
pk_br_yl

['pink', 'brown', 'yellow']

**20) List Memory Usage** \
Consider the following line of code :

a = 300 , b = 124 , mylist = [300, 124, 100]

`Answer: 124 is between -5 and 256 and as you know python reserves memory for these numbers and these objects are created only once. So when you have a list with value 124 in it, it doesn't create a new object, Only a pointer point to the address as variable a point. so they have same id But for 300 it creates an object and b points to it. then when you create a list that has a value of 300 in it, it creates a new object with value 300 and it has the list's pointer. so the list pointer and variable b do not point to the same object and they have a different id.`

In [227]:
mylist = [300, 124, 100]
a,b = 300,124

In [236]:
print(id(a),id(b),id(mylist[1]))

140049121576176 140049696573648 140049696573648

In [237]:
id(a) == id(mylist[0]) and id(b) == id(mylist[1])

False

In [241]:
id(a) == id(mylist[0]) and id(b) != id(mylist[1])

False

In [243]:
id(a) != id(mylist[0]) and id(b) == id(mylist[1])

True

In [245]:
id(a) != id(mylist[0]) and id(b) != id(mylist[1])

False

In [250]:
id(a) == id(mylist) and id(b) == id(mylist)

False

**21) Delete List items**

What is the output of the following code?

`answer : []
When your index is greater than the number of items in the list, del won't give an error. it removes all elements of the list. it means that it read indexes until the end of your list and then terminates.`

In [254]:
inp_list = [10, 20, 30, 40]
del inp_list[0:6]
print(inp_list)

[]

**22) Replace List Items with New Values** \
Ali put his student's math grades on a list. One of the students has been suspended with a score of 9.75. Today is Ali's birthday and he wants to give 10 to that student. we want you to find the value 9.75 in the given list, and replace it with 10. Only update the first occurrence of the item.

In [296]:
grades = [12, 19, 14, 15, 17.5, 18, 10.25, 9.75, 19, 14, 12, 11.25, 17, 18, 13, 13, 15, 19, 18.5]

In [278]:
print(grades)

[12, 19, 14, 15, 17.5, 18, 10.25, 9.75, 19, 14, 12, 11.25, 17, 18, 13, 13, 15, 19, 18.5]

In [283]:
# method 1
grades_sorted = sorted(grades)
print(grades_sorted)

[9.75, 10.25, 11.25, 12, 12, 13, 13, 14, 14, 15, 15, 17, 17.5, 18, 18, 18.5, 19, 19, 19]

In [284]:
grades_sorted[0] = 10

In [286]:
print(grades_sorted)

[10, 10.25, 11.25, 12, 12, 13, 13, 14, 14, 15, 15, 17, 17.5, 18, 18, 18.5, 19, 19, 19]

In [297]:
# method 2

# get the first occurrence index
index = grades.index(9.75)

# update item present at location
grades[index] = 10
print(grades)

[12, 19, 14, 15, 17.5, 18, 10.25, 10, 19, 14, 12, 11.25, 17, 18, 13, 13, 15, 19, 18.5]

**23) Simple List Indexing** \
Use indexes and print the first, third, and last element of the list below. \
Note: #? is just a comment indicating where you should write your code.

In [300]:
num_list = [1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78]
# first_element = #? third_element = #? last_element =  #?

In [307]:
first_element = num_list[0]
first_element

1

In [308]:
third_element = num_list[2]
third_element

6

In [311]:
last_element = num_list[-1]
last_element

78