**1) Write a program in python that prints hello world .**

In [158]:
print("hello world")

hello world

**2) Which statement is true? and why?**
1. In Python, a variable must be declared before it is assigned a value 
2. In Python, a variable may be assigned a value of one type, and then later assigned a value of a different type

In [159]:
x = True
y = False
print(x,y)

True False

**3) Consider the following sequence of statements :**\
1.These statements refer to different variables.\
2.These statements refer to the same variable.\
Answer: `Case is significant in Python variable names, so these are all different variables.`

In [160]:
employeenumber = 4398
EmployeeNumber = 4398
employeeNumber = 4398

In [161]:
id(employeenumber)

140509166989424

In [162]:
id(EmployeeNumber)

140509166989488

In [163]:
id(employeeNumber)

140509166989584

**4) Following the execution of these statements, Python has created how many objects and how many references?**\
`1.One object, two references`\
2.One object, one reference\
3.Two objects, one reference\
4.Two objects, two references

In [164]:
n = 300
m = n

In [165]:
id(m)

140509166990416

In [166]:
id(n)

140509166990416

**5) Multiple Variable's Definition**\
Assign values `"pytopia" , 2022 and 3.14` to `var_s , var_i , var_f` in **only one line** of code.

In [167]:
var_s,var_i,var_f = 'pytopia',2022,3.14

In [168]:
var_s

'pytopia'

In [169]:
var_i

2022

In [170]:
var_f

3.14

**6) Variable Assignment**\
Consider the following sequence of statements :

Since numbers `between -5 and 256` are used a lot, Python allocates memory for these numbers from the beginning in RAM. For this reason, these objects are made only once and at any time create a variable with these values, instead of making new objects we just create some new pointers to those objects. But for any other numbers any time we create a variable we also create new objects.

Somehow, it can be said that the numbers in this range are unique and occupy the RAM once.

In [5]:
>>> m = 245
>>> n = 245
>>> x = 268
>>> y = 268
>>> z = y

In [2]:
print(id(m),id(n),id(x),id(y),id(z))

139728388798512 139728388798512 139728305696112 139728305695888 139728305695888

In [173]:
id(m) != id(n), id(x) != id(y)

(False, True)

In [174]:
id(m) == id(n), id(x) == id(y)

(True, False)

In [175]:
id(m) == id(n), id(x) != id(y)

(True, True)

In [176]:
id(m) != id(n), id(x) == id(y)

(False, False)

In [177]:
id(z) == id(y)

True

In [178]:
id(z) != id(y)

False

**7) Quick Swap**

Assume we have two variables called input_1 and input_2 . Swap the values of the two variables so that input_1 has the value of input_2 and vice versa. Print out the two variables.  

Note: You must perform the swap in only 1 line of code, and without using any variables other than input_1 and input_2 .

In [179]:
input_1 = 0
input_2 = 1
input_1,input_2 = input_2,input_1

**8) Custom Swap** \
Ali has a problem with one of his python practices.\
He wants `to get two numbers as input from the user` and put them in input_1 and input_2 .\
then Swap the values of the two variables so that input_1 has the value of input_2 and vice versa.\ 
Finally, print out the two variables.

**Note: He must only use 3 variables in his code**

In [180]:
input_1 = int(input("Enter first number: "))
input_2 = int(input("Enter second number: "))

Enter first number: 10
Enter second number: 11

In [181]:
temp = input_1
input_1 = input_2
input_2 = temp

In [182]:
print(input_1,input_2)

11 10

**9) Easy Sum** \
We ask Ali to write a code that takes two inputs from the user and saves them in two desired variables, and then puts the sum of the two inputs in a variable and prints the result. Since Ali does not know the syntax of python, we ask you to help him to write this code!

Note: Use snake case format for variable names.

Hint: You can use the following code to take input from the user and convert it to an integer. (In future sessions we will explain how this code works).

You can change the name of the variable to anything you like.

`Note: When you are giving your input data, press Enter to end the process of giving input after you have done.`

In [183]:
input_1 = int(input('Enter a number: '))
input_2 = int(input('Enter another number: '))

Enter a number: 10
Enter another number: 11

In [184]:
sum_x = input_1 + input_2
print(sum_x)

21

**10) Warm-Up Variable Practice!** \
Ali's programming teacher asks him to define two variables inp_1 and inp_2 and assign values 10 and 35 to them. \
then put inp_1 + inp_2 in variable result and print it. \
Ali is a lazy student and asks you to do this for him!

In [185]:
inp_1,inp_2 = 10,35
sum_inp = inp_1 + inp_2
print(sum_inp)

45

**11) Bitwise Operators Quiz** \
4 is 100 in binary and 11 is 1011. \
What is the output of the following bitwise operators?

4: 0100 \
11: 1011

In [186]:
a = 4
b = 11
print(a | b, a >> 2)

15 1

**12) Operator and Expression** \
What is the output of the following code?

print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j)) 

1. True True False True \
2. False True True True \
3. True True False True \
4. False True False True

`answer: 2`

**13) List Chain Assignment** \
What is the output where indicated by #?:

`Hint: If you think the outputs are [2] and [3], think again!`

The reason is when you do `x = y = []` you define two pointers both pointing to one memory location. \
If you change that memory location with x, the changes are seen by y too, cause both are sharing one memory location.

So be careful when you use chain assignments. It may cause unexpected behaviours when used with mutable data types.

Note that with immutable variables, there is no problem like this, cause they are not gonna change.

In [187]:
x = y = []
x.append(2)
y.append(3)
print(x)
print(y)

[2, 3]
[2, 3]

**14) Append to The List** \
The append() method allows you to add items to your lists. \
Add the string "R" to the programming_langs list with append() method.

Note: Python's list contents are references unless documented otherwise, no copies are created when you pass a name to a method. This applies just as much to list.append() as to any other call; list.append() adds a reference to the list, not a copy.

In [188]:
programming_langs = ["Julia", "Python"] 
programming_langs.append("R")

In [189]:
programming_langs

['Julia', 'Python', 'R']

**15) List: Max, Min, Sum and Mean** \
Calculate the maximum, minimum, sum and mean of the following data using python's built-in functions:

In [190]:
random_num_data = [18, 60, -10, 17, 55, 8, -1, 31, 52, 31,
                    27, 14, 25, 0, -2, 15, -1, 50, 45, -4,
                    42, -10, 40, 3, 43, 55, 24, -17, 17, 54, 
                    19, 24, 44, 30, 24, 3, -17, 31, 45, -10, 
                    13, -12, 21, -13, 52, 57, -1, 37, 21, 42]

In [191]:
maximum = max(random_num_data)
maximum

60

In [192]:
minimum = min(random_num_data)
minimum

-17

In [193]:
sum_of_data = sum(random_num_data)
sum_of_data

1091

In [194]:
mean_of_data = sum(random_num_data) / len(random_num_data)
mean_of_data

21.82

**16) Second Largest Number In List** \
Find the second_largest number in the list:

`second_largest = 66`

In [22]:
num_list = [3, 47, 10, 15, 21, 28, 13, 45, 66, 12, 34, 56, 78]
num_list

[3, 47, 10, 15, 21, 28, 13, 45, 66, 12, 34, 56, 78]

In [196]:
# method 1
max(num_list)

78

In [197]:
num_list.remove(78)

In [198]:
max(num_list)

66

In [14]:
# method 2
sorted_list = sorted(num_list)
sorted_list

[3, 10, 12, 13, 15, 21, 28, 34, 45, 47, 56, 66, 78]

In [15]:
second_largest = sorted_list[-2]
second_largest

66

In [19]:
# method 3
sorted(num_list,reverse=True)[1]

66

In [33]:
# method 4
max_1 = num_list[0]
max_2 = num_list[1]
print(max_1,max_2)

if max_1 < max_2:
    max_1, max_2 = max_2, max_1
    
print(max_1,max_2)


for n in num_list[2:]:
    if n > max_1:
        max_2 = max_1
        max_1 = n
        
    elif n > max_2:
        max_2 = n
        
print(max_1,max_2)

# max_2 = None
# for n in num_list:
#     if n > max_1:
    
#     if max_1 is None:
#         max_1 = n
    
#     if max_1 is not None and max_2 is None:

3 47
47 3
78 66

**17) List Quiz** \
Which of the following are `not true` about Python lists? (Choose all that may apply)

1. There is no limit to the size of a list.
2. All elements in a list must be of the same type.
3. A list may contain any type of object except another list
4. A given object may appear in a list more than once.

`answer: Choice 2, is not True. This statement is not relevant to the list data type in python. what it's referring though, is an array.
Choice 3, is not True. Alist can contain any object, including another list (nested list).`

**18) Nested List Indexing** \
Extract the fourth team list from persian_gulf_standing:

In [4]:
persian_gulf_standing = [
    ['Esteghlel F.C', 1],
    ['Sepahan', 2],
    ['Perspolis', 3],
    ['Gol Gohar', 4],
    ['Foolad', 5]
]

# forth_team = #Code here

In [202]:
# method 1
persian_gulf_standing[3][0]

'Gol Gohar'

In [12]:
# method 2
forth_team = persian_gulf_standing[:][-2][0] 
forth_team

'Gol Gohar'

In [11]:
# method 3
sorted(persian_gulf_standing, key=lambda i: i[1], reverse=True)[1][0]

'Gol Gohar'

**19) List Subset** \
Subset the following lists from color list:

In [204]:
bl_gr = ['blue', 'green']
re_gr_br = ['red', 'green', 'brown']
pk_br_yl = ['pink', 'brown', 'yellow']

In [205]:
colors = ['red', 'blue', 'green', 'yellow', 'brown', 'pink']

#### bl_gr = #?

In [206]:
bl_gr = colors[1:3]
bl_gr

['blue', 'green']

#### re_gr_br = #?

In [207]:
# method 1
re_gr_br = colors[0:5:2]
re_gr_br

['red', 'green', 'brown']

In [208]:
# method 2
re_gr_br = colors[::2]
re_gr_br

['red', 'green', 'brown']

#### pk_br_yl = #?

In [209]:
# method 1
pk_br_yl = colors[3:]
pk_br_yl

['yellow', 'brown', 'pink']

In [210]:
pk_br_yl = colors[-1:-4:-1]
pk_br_yl

['pink', 'brown', 'yellow']

**20) List Memory Usage** \
Consider the following line of code :

a = 300 , b = 124 , mylist = [300, 124, 100]

`Answer: 124 is between -5 and 256 and as you know python reserves memory for these numbers and these objects are created only once. So when you have a list with value 124 in it, it doesn't create a new object, Only a pointer point to the address as variable a point. so they have same id But for 300 it creates an object and b points to it. then when you create a list that has a value of 300 in it, it creates a new object with value 300 and it has the list's pointer. so the list pointer and variable b do not point to the same object and they have a different id.`

In [211]:
mylist = [300, 124, 100]
a,b = 300,124

In [212]:
print(id(a),id(b),id(mylist[1]))

140509165693328 140509796202704 140509796202704

In [213]:
id(a) == id(mylist[0]) and id(b) == id(mylist[1])

False

In [214]:
id(a) == id(mylist[0]) and id(b) != id(mylist[1])

False

In [215]:
id(a) != id(mylist[0]) and id(b) == id(mylist[1])

True

In [216]:
id(a) != id(mylist[0]) and id(b) != id(mylist[1])

False

In [217]:
id(a) == id(mylist) and id(b) == id(mylist)

False

**21) Delete List items**

What is the output of the following code?

`answer : []
When your index is greater than the number of items in the list, del won't give an error. it removes all elements of the list. it means that it read indexes until the end of your list and then terminates.`

In [218]:
inp_list = [10, 20, 30, 40]
del inp_list[0:6]
print(inp_list)

[]

**22) Replace List Items with New Values** \
Ali put his student's math grades on a list. One of the students has been suspended with a score of 9.75. Today is Ali's birthday and he wants to give 10 to that student. we want you to find the value 9.75 in the given list, and replace it with 10. Only update the first occurrence of the item.

In [219]:
grades = [12, 19, 14, 15, 17.5, 18, 10.25, 9.75, 19, 14, 12, 11.25, 17, 18, 13, 13, 15, 19, 18.5]

In [220]:
print(grades)

[12, 19, 14, 15, 17.5, 18, 10.25, 9.75, 19, 14, 12, 11.25, 17, 18, 13, 13, 15, 19, 18.5]

In [221]:
# method 1
grades_sorted = sorted(grades)
print(grades_sorted)

[9.75, 10.25, 11.25, 12, 12, 13, 13, 14, 14, 15, 15, 17, 17.5, 18, 18, 18.5, 19, 19, 19]

In [222]:
grades_sorted[0] = 10

In [223]:
print(grades_sorted)

[10, 10.25, 11.25, 12, 12, 13, 13, 14, 14, 15, 15, 17, 17.5, 18, 18, 18.5, 19, 19, 19]

In [224]:
# method 2

# get the first occurrence index
index = grades.index(9.75)

# update item present at location
grades[index] = 10
print(grades)

[12, 19, 14, 15, 17.5, 18, 10.25, 10, 19, 14, 12, 11.25, 17, 18, 13, 13, 15, 19, 18.5]

**23) Simple List Indexing** \
Use indexes and print the first, third, and last element of the list below. \
Note: #? is just a comment indicating where you should write your code.

In [225]:
num_list = [1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78]
# first_element = #? third_element = #? last_element =  #?

In [226]:
first_element = num_list[0]
first_element

1

In [227]:
third_element = num_list[2]
third_element

6

In [228]:
last_element = num_list[-1]
last_element

78

**24) Tuple: Remove an Item** \
Write a Python program to remove item `"hafez"` from a tuple and save it in persian_poets_wo_hafez

`Answer: Tuples are immutable, so you can not remove elements.`

In [1]:
persian_poets = ('saadi', 'frough', 'hafez', 'parvin', 'saeb')

In [230]:
type(persian_poets)

tuple

In [231]:
# method 1
## Using the merge of tuples with the + operator, you can remove an item, and it will create a new tuple.
persian_poets_wo_hafez  = persian_poets[:2] + persian_poets[3:]
persian_poets_wo_hafez

('saadi', 'frough', 'parvin', 'saeb')

In [232]:
# method 2
## first convert tuple to list
persian_poets = list(persian_poets)

In [233]:
persian_poets

['saadi', 'frough', 'hafez', 'parvin', 'saeb']

In [234]:
# use different ways to remove an item of the list
persian_poets.remove('hafez')

In [235]:
persian_poets

['saadi', 'frough', 'parvin', 'saeb']

In [236]:
# converting the tuple to list
persian_poets_wo_hafez = tuple(persian_poets)
persian_poets_wo_hafez

('saadi', 'frough', 'parvin', 'saeb')

In [4]:
# wo_hafez = tuple(list(persian_poets).remove("hafez"))
# wo_hafez

**25) Simple Tuple Indexing 2** \
Copy specific elements from one tuple to a new tuple\
Write a program to copy elements 44 and 55 from the following tuple into a new tuple. tuple2 = (44, 55)

In [ ]:
tuple1 = (11, 22, 33, 44, 55, 66)

In [ ]:
# method 1
tuple2 = tuple1[3:5]
tuple2

In [239]:
# method 2
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)

**26) Unpack Tuple** \
Unpack the tuple into 4 variables.\
Write a program to unpack the following tuple into four variables: sohrab faramarz jahangir siyavash

In [240]:
shahnameh_tuple = ('Sohrab', 'Faramarz', 'Jahangir', 'Siyavash')
#write your code here

In [241]:
sohrab,faramarz,jahangir,siyavash = shahnameh_tuple

In [242]:
sohrab

'Sohrab'

In [243]:
faramarz

'Faramarz'

In [244]:
jahangir

'Jahangir'

In [245]:
siyavash

'Siyavash'

**27) Reverse Tuple** \
Reverse the following tuple and save it in reverse_num_tup :

In [246]:
num_tup = (10, 20, 30, 40, 50)
# reverse_num_tup = #?

In [247]:
reverse_num_tup = num_tup[::-1]
reverse_num_tup

(50, 40, 30, 20, 10)

**28) Simple Tuple Indexing** \
For the `mixed_tuple` variable defined below:
1) Access value 20 from the mixed_tuple
2) Access the charachter "g" from the mixed_tuple 
3) The given tuple is a nested one. Write a Python program that prints the value 20 with indexing.

In [248]:
mixed_tuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [249]:
# answer 1
mixed_tuple[1][1]

20

In [250]:
# answer 2
# method 1
mixed_tuple[0][4]

'g'

In [251]:
# answer 2
# method 2
mixed_tuple[0][-2]

'g'

In [252]:
# answer 3
mixed_tuple.index([10,20,30])

1

**29) Building a Dictionary Incrementally** \
First use `{}` to create an empty dictionary named bmw, then add a `"red"` value to the bmw dictionary for the `"color"` key.

In [253]:
bmw = {}

In [254]:
# method 1
bmw = {'color':'red'}

In [255]:
bmw

{'color': 'red'}

In [256]:
# method 2
bmw['color'] = 'red'

In [257]:
bmw

{'color': 'red'}

**30) Restrictions on Dictionary Keys and Values** \
Which of the following options defines a dictionary incorrectly: \
(Set the variable `q9_answer` to the option number you choose to answer this question)

1. foo = {1: 'aaaa', 3.14: 'bbbb', 6.18: 'ccc'}
2. foo = {[1, 3.14]: 'a', [2, 6.28]: 'b'}
3. foo = {(1, 3.14): 'a', (2, 12.56): 'b'}
4. foo = {dict: [], float: 2, int: 3.14}

`q9_answer = 2`

**31) Dictionary get() method 1** \
You can access the value of the dictionaty using `.get()` method:

syntax:\
`dictionary.get(keyname)`

for example:

In [258]:
rostam_data = {
    "name": "Rostam",
    "nationality": "Turanian",
    "father": "Zal" ,
    "mother": "Rudaabeh",
    "spouse": "Tahmineh",
    "grandfather": "Sam",
    "delivery": "C-Section",
    "POB": "Zabol",
    "POD" : "Kabul"
    }
rostam_data.get('father')

'Zal'

According to the `Shahnameh`, the Simurgh instructed `Zal` upon how to perform a caesarean section, thus saving `Rudaba and the child Rostam`. In Persian literature ceaserean section is known as Rostamina.
Please **print the type of birth** (delivery) of Rostam using the `get()` method

In [259]:
print(rostam_data.get('delivery'))

C-Section

**32) Dictionary get() method 2** \
The .get() method allows us to retrieve the value of the wanted key from the dictionary while also preventing an error if the key is not found in the dictionary. and receive the previously set default value. For example, suppose we have a dictionary of students and their math score

```python
math = {
    'abtin': 19,
    'laleh': 20,
    'mehri': 18,
    }

```

If we do not know exactly which students are in the dictionary and, for example, if we want to read Kamran's math grade, then we will encounter an error.

In [260]:
math = {
    'abtin': 19,
    'laleh': 20,
    'mehri': 18,
    }

In [261]:
# math['kamran']

In [262]:
math.get('kamran')

We can add a value to the `.get()` method to return that value if the requested key does not exist.
syntax:

In [263]:
# dictionary.get(keyname, <value>)

A to return if the specified key does not exist. Default value is None

In [264]:
math.get('kamran', 666)

666

In [265]:
math.get('laleh',666)

20

The following dictionary is based on the book Shahnameh by Abolghasem Ferdowsi, a famous Iranian poet:

In [266]:
rostam_data = {
    "name": "Rostam",
    "nationality": "Turanian",
    "father": "Zal" ,
    "mother": "Rudaabeh",
    "spouse": "Tahmineh",
    "grandfather": "Sam",
    "delivery": "C-Section",
    "POB": "Zabol",
    "POD" : "Kabul"
    }

In [267]:
rostam_data

{'name': 'Rostam',
 'nationality': 'Turanian',
 'father': 'Zal',
 'mother': 'Rudaabeh',
 'spouse': 'Tahmineh',
 'grandfather': 'Sam',
 'delivery': 'C-Section',
 'POB': 'Zabol',
 'POD': 'Kabul'}

Because Rostam's `"date of birth"` might **not be in our dictionary**, use one of the `.get()` methods to print Rostam's date of birth and ensure that if Rostam's date of birth does not exist, the number `-87` is printed and no error occurs.

In [268]:
print(rostam_data.get("data of birth", -87))

-87

**33) Accessing Dictionary Values 1** \
The following dictionary is based on the book **Shahnameh** by **Abolghasem Ferdowsi,** a famous Iranian poet.
According to the dictionary below, print the name of Rostam's mother and wife using a single print() function.

In [269]:
rostam_data = {
    "name": "Rostam",
    "nationality": "Turanian",
    "father": "Zal" ,
    "mother": "Rudaabeh",
    "spouse": "Tahmineh",
    "grandfather": "Sam",
    "delivery": "C-Section",
    "POB": "Zabol",
    "POD" : "Kabul"
    }

In [270]:
rostam_data

{'name': 'Rostam',
 'nationality': 'Turanian',
 'father': 'Zal',
 'mother': 'Rudaabeh',
 'spouse': 'Tahmineh',
 'grandfather': 'Sam',
 'delivery': 'C-Section',
 'POB': 'Zabol',
 'POD': 'Kabul'}

In [271]:
# print the name of Rostam's mother and wife using a single print() function.
print(f"the name of Rostams mother's and wife is {rostam_data['mother'],rostam_data['spouse']}")

the name of Rostams mother's and wife is ('Rudaabeh', 'Tahmineh')

In [272]:
print(f"mother's name: {rostam_data['mother']}, rostam's wife:{rostam_data['spouse']}")

mother's name: Rudaabeh, rostam's wife:Tahmineh

**34) Accessing Dictionary Values 2** \
The following dictionary is based on the book **Shahnameh** by **Abolghasem Ferdowsi**, a famous Iranian poet.
**Rostam** nationality has been registered as a **Turanian**. Please change **Rostam** nationality to **Iranian.**

In [273]:
rostam_data = {
    "name": "Rostam",
    "nationality": "Turanian",
    "father": "Zal" ,
    "mother": "Rudaabeh",
    "spouse": "Tahmineh",
    "grandfather": "Sam",
    "delivery": "C-Section",
    "POB": "Zabol",
    "POD" : "Kabul"
    }

In [274]:
rostam_data

{'name': 'Rostam',
 'nationality': 'Turanian',
 'father': 'Zal',
 'mother': 'Rudaabeh',
 'spouse': 'Tahmineh',
 'grandfather': 'Sam',
 'delivery': 'C-Section',
 'POB': 'Zabol',
 'POD': 'Kabul'}

In [275]:
rostam_data['nationality'] = 'Iranian'

In [276]:
rostam_data

{'name': 'Rostam',
 'nationality': 'Iranian',
 'father': 'Zal',
 'mother': 'Rudaabeh',
 'spouse': 'Tahmineh',
 'grandfather': 'Sam',
 'delivery': 'C-Section',
 'POB': 'Zabol',
 'POD': 'Kabul'}

**35) Accessing Dictionary Values 3** \
The following dictionary is based on the book **Shahnameh** by **Abolghasem Ferdowsi,** a famous Iranian poet.
Rostam's children were **Sohrab, Faramarz, Jahangir, Siyavash,** and **Banu-Goshasp.** Please add a list of Rostam's children's names with the key childrens to rostam_data dictionary.

In [1]:
rostam_data = {
    "name": "Rostam",
    "nationality": "Turanian",
    "father": "Zal" ,
    "mother": "Rudaabeh",
    "spouse": "Tahmineh",
    "grandfather": "Sam",
    "delivery": "C-Section",
    "POB": "Zabol",
    "POD" : "Kabul"
    }

In [2]:
rostam_data["Rostam's children"] = ["Sohrab", "Faramarz", "Jahangir", "Siyavash","Banu-Goshasp"]

In [9]:
rostam_data

{'name': 'Rostam',
 'nationality': 'Turanian',
 'father': 'Zal',
 'mother': 'Rudaabeh',
 'spouse': 'Tahmineh',
 'grandfather': 'Sam',
 'delivery': 'C-Section',
 'POB': 'Zabol',
 "Rostam's children": ['Sohrab',
  'Faramarz',
  'Jahangir',
  'Siyavash',
  'Banu-Goshasp']}

In [18]:
# del rostam_data['POD']
# rostam_data.pop('name')
rostam_data
# dir(rostam_data)

{'nationality': 'Turanian',
 'father': 'Zal',
 'mother': 'Rudaabeh',
 'spouse': 'Tahmineh',
 'grandfather': 'Sam',
 'delivery': 'C-Section',
 'POB': 'Zabol',
 "Rostam's children": ['Sohrab',
  'Faramarz',
  'Jahangir',
  'Siyavash',
  'Banu-Goshasp']}

In [23]:
rostam_data = ['Rostam','Zal','Sam']

while rostam_data:
    value = rostam_data.pop()
    print(value)

print(rostam_data)

Sam
Zal
Rostam
[]

**36) Convert a list to a dictionary** \
You can also construct a dictionary with the built-in `dict()` function. The argument to `dict()` should be a sequence of key-value pairs.
We have a list called `persian_gulf_standing` that contains pairs, the name of the football team and its position in the `Iranian Football Premier League` (Persian Gulf). We ask you to convert the following list into a dictionary with the same name based on the description provided.

In [280]:
persian_gulf_standing = [
    ['Esteghlel F.C', 1],
    ['Sepahan', 2],
    ['Perspolis', 3],
    ['Gol Gohar', 4],
    ['Foolad', 5]
]

In [281]:
type(persian_gulf_standing)

list

In [282]:
persian_gulf_standing = dict(persian_gulf_standing)

In [283]:
type(persian_gulf_standing)

dict

**37) Arash site users** \
Arash has a list of site users and wants to save them using one of the Python data structures. Initially, he intended to create a list of his users. However, we explained to him that while adding and deleting items at the end of the list is quick, doing so at the beginning of the list is slow because all of the other items must be shifted. Finally, we advised him to use a dictionary because hashes allow him to access all data in a short period of time.

Arash users information is available below:

id	name	family \
1	Kourosh	Kouroshi \
2	Shirin	Shirini \


Please help him put them in a dictionary called `arash_users.` In such a way that it has access to the information of its users via `id.` for example:

In [284]:
arash_users = [["Kourosh","Kouroshi"],["Shirin","Shirini"]]

In [285]:
arash_users

[['Kourosh', 'Kouroshi'], ['Shirin', 'Shirini']]

In [286]:
type(arash_users)

list

In [287]:
arash_users = dict(arash_users)

In [288]:
arash_users['Shirin']

'Shirini'

In [289]:
arash_users = {
    1: {'name': 'Kourosh','family':'Kouroshi'},
    2: {'name': 'Shirin','family':'shirini'},
}

In [290]:
arash_users

{1: {'name': 'Kourosh', 'family': 'Kouroshi'},
 2: {'name': 'Shirin', 'family': 'shirini'}}

In [291]:
arash_users[1]['name']

'Kourosh'

**38) A deeper look at the dictionary**

Which of the following **does not describe** a dictionary? \
(Set the variable `q1_answer` to the option number you choose to answer this question.)

1) Dictionary is mutable.
2) Dictionary is dynamic. It can grow and shrink as needed.
3) Dictionary can be nested. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.
4) Dictionary elements are accessed by their position in the dictionary, via `indexing`

`answer: 4`

**39) Set operations**

- Make a set of **multiples of 3** and name it <font color=red>**X**</font>.

In [30]:
X = {1,3,6,9,12,15}

In [36]:
n = 3
m_3 = set(list(range(n,100,n)))
print(m_3)

{3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99}

- Make a set of **multiples of 5** and name it <font color=red>**Y**</font>.

In [29]:
Y = {1,5,10,15,20,25}

In [37]:
n = 5
m_5 = set(list(range(n,100,n)))
m_5

{5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95}

- baraye namayesh mazareb 5 ke dar mazareb 3 nistand

In [39]:
print(m_3 - m_5)

{3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99}

In [21]:
import itertools
g = itertools.count(5,5)

In [27]:
next(g)

30

- Can you find the **multiples of 15** using the <font color=red>**UNION** >> **&**</font> operator and store it in variable <font color=red>**Z1**</font>?

In [40]:
# in operator fght beyne do ta set tarif mishavad
Z1 = X & Y
Z1

{1, 15}

- Can you find the **multiples of 15** using the <font color=red>**intersection()**</font> method and store it in variable <font color=red>**Z2**</font>?

In [31]:
X | Y

{1, 3, 5, 6, 9, 10, 12, 15, 20, 25}

In [17]:
Z2 = X.intersection(Y)
Z2

{1, 15}

- Then find the multiples of 5 that are not divisible by 3. (hint: use the operator - or use the <font color=red>**difference()**</font> method)

In [32]:
Y - X

{5, 10, 20, 25}

In [41]:
# vorodi in operation beyne mitavanad set ya har iterable digari bashad
Y.difference(X)

{5, 10, 20, 25}

- after that use the <font color=red>**+**</font> operators or the <font color=red>**union()**</font> method to make a list of numbers that are either divisible by 5 **or** divisible by 3, **or** divisible by both.

In [24]:
X.union(Y)

{1, 3, 5, 6, 9, 10, 12, 15, 20, 25}

**40) Add an element to the set**

Oops! apparently one of the prime numbers below One thousand, 997, is missing. Can you add it to <font color=red>**primes**</font> vaiable? Then check to see if 997 is in primes variable.

In [26]:
primes = {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41,
          43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,
          101, 103, 107, 109, 113, 127, 131, 137, 139, 149,
          151, 157, 163, 167, 173, 179, 181, 191, 193, 197,
          199, 211, 223, 227, 229, 233, 239, 241, 251, 257,
          263, 269, 271, 277, 281, 283, 293, 307, 311, 313,
          317, 331, 337, 347, 349, 353, 359, 367, 373, 379,
          383, 389, 397, 401, 409, 419, 421, 431, 433, 439,
          443, 449, 457, 461, 463, 467, 479, 487, 491, 499,
          503, 509, 521, 523, 541, 547, 557, 563, 569, 571,
          577, 587, 593, 599, 601, 607, 613, 617, 619, 631,
          641, 643, 647, 653, 659, 661, 673, 677, 683, 691,
          701, 709, 719, 727, 733, 739, 743, 751, 757, 761,
          769, 773, 787, 797, 809, 811, 821, 823, 827, 829,
          839, 853, 857, 859, 863, 877, 881, 883, 887, 907,
          911, 919, 929, 937, 941, 947, 953, 967, 971, 977,
          983, 991}

In [28]:
print(primes)

{2, 3, 5, 7, 521, 11, 523, 13, 17, 19, 23, 541, 29, 31, 547, 37, 41, 43, 557, 47, 563, 53, 569, 59, 571, 61, 577, 67, 71, 73, 587, 79, 593, 83, 599, 89, 601, 607, 97, 101, 613, 103, 617, 107, 619, 109, 113, 631, 127, 641, 131, 643, 647, 137, 139, 653, 659, 149, 661, 151, 157, 673, 163, 677, 167, 683, 173, 179, 691, 181, 701, 191, 193, 197, 709, 199, 719, 211, 727, 733, 223, 227, 739, 229, 743, 233, 239, 751, 241, 757, 761, 251, 257, 769, 773, 263, 269, 271, 787, 277, 281, 283, 797, 293, 809, 811, 307, 821, 311, 823, 313, 827, 317, 829, 839, 331, 337, 853, 857, 347, 859, 349, 863, 353, 359, 877, 367, 881, 883, 373, 887, 379, 383, 389, 907, 397, 911, 401, 919, 409, 929, 419, 421, 937, 941, 431, 433, 947, 439, 953, 443, 449, 967, 457, 971, 461, 463, 977, 467, 983, 479, 991, 487, 491, 499, 503, 509}

In [20]:
# output be sorate inplace anjam mishavad
# append in list -- add in set
# extend in list -- update in set
# dar set order matrah nist
primes.add(997)

In [30]:
print(primes)

{2, 3, 5, 7, 521, 11, 523, 13, 17, 19, 23, 541, 29, 31, 547, 37, 41, 43, 557, 47, 563, 53, 569, 59, 571, 61, 577, 67, 71, 73, 587, 79, 593, 83, 599, 89, 601, 607, 97, 101, 613, 103, 617, 107, 619, 109, 113, 631, 127, 641, 131, 643, 647, 137, 139, 653, 659, 149, 661, 151, 157, 673, 163, 677, 167, 683, 173, 179, 691, 181, 701, 191, 193, 197, 709, 199, 719, 211, 727, 733, 223, 227, 739, 229, 743, 233, 239, 751, 241, 757, 761, 251, 257, 769, 773, 263, 269, 271, 787, 277, 281, 283, 797, 293, 809, 811, 307, 821, 311, 823, 313, 827, 317, 829, 839, 331, 337, 853, 857, 347, 859, 349, 863, 353, 359, 877, 367, 881, 883, 373, 887, 379, 383, 389, 907, 397, 911, 401, 919, 409, 929, 419, 421, 937, 941, 431, 433, 947, 439, 953, 443, 449, 967, 457, 971, 461, 463, 977, 467, 983, 479, 991, 997, 487, 491, 499, 503, 509}

In [31]:
997 in primes

True

**41) A list or a set, ay there's the point**

The following is a set of prime numbers **less than 1000.** Can you check to see if the numbers **463, 149,** and **973** are prime? **Which is better for determining the presence or absence of an item in a group of items, a list or a set?**

`answer: set`

In [8]:
primes = {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41,
          43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,
          101, 103, 107, 109, 113, 127, 131, 137, 139, 149,
          151, 157, 163, 167, 173, 179, 181, 191, 193, 197,
          199, 211, 223, 227, 229, 233, 239, 241, 251, 257,
          263, 269, 271, 277, 281, 283, 293, 307, 311, 313,
          317, 331, 337, 347, 349, 353, 359, 367, 373, 379,
          383, 389, 397, 401, 409, 419, 421, 431, 433, 439,
          443, 449, 457, 461, 463, 467, 479, 487, 491, 499,
          503, 509, 521, 523, 541, 547, 557, 563, 569, 571,
          577, 587, 593, 599, 601, 607, 613, 617, 619, 631,
          641, 643, 647, 653, 659, 661, 673, 677, 683, 691,
          701, 709, 719, 727, 733, 739, 743, 751, 757, 761,
          769, 773, 787, 797, 809, 811, 821, 823, 827, 829,
          839, 853, 857, 859, 863, 877, 881, 883, 887, 907,
          911, 919, 929, 937, 941, 947, 953, 967, 971, 977,
          983, 991}
check_13 = 13 in primes
print("13 is prime: ",check_13)

13 is prime:  True

In [9]:
check_463 = 463 in primes
check_149 = 149 in primes
check_973 = 973 in primes

In [10]:
print(check_149,check_463,check_973)

True True False

In [11]:
# magic command >> %timeit
%timeit 463 in primes

42.8 ns  3.63 ns per loop (mean  std. dev. of 7 runs, 10,000,000 loops each)

In [15]:
# magic command >> %timeit
%timeit 1 in primes

32.3 ns  5.04 ns per loop (mean  std. dev. of 7 runs, 10,000,000 loops each)

In [16]:
# magic command >> %timeit
%timeit 3 in primes

30.2 ns  4.12 ns per loop (mean  std. dev. of 7 runs, 10,000,000 loops each)

- `har che data dar list bishtar bashad cond hodan va afzayesh zaman ejra barname bishtar mishavad.`

In [18]:
# magic command >> %timeit
%timeit 468 in primes

35.1 ns  6.29 ns per loop (mean  std. dev. of 7 runs, 10,000,000 loops each)

In [19]:
# magic command >> %timeit
%timeit 908 in primes

35.8 ns  7.6 ns per loop (mean  std. dev. of 7 runs, 10,000,000 loops each)

In [14]:
primes_list = list(primes)
print(primes_list)

[2, 3, 5, 7, 521, 11, 523, 13, 17, 19, 23, 541, 29, 31, 547, 37, 41, 43, 557, 47, 563, 53, 569, 59, 571, 61, 577, 67, 71, 73, 587, 79, 593, 83, 599, 89, 601, 607, 97, 101, 613, 103, 617, 107, 619, 109, 113, 631, 127, 641, 131, 643, 647, 137, 139, 653, 659, 149, 661, 151, 157, 673, 163, 677, 167, 683, 173, 179, 691, 181, 701, 191, 193, 197, 709, 199, 719, 211, 727, 733, 223, 227, 739, 229, 743, 233, 239, 751, 241, 757, 761, 251, 257, 769, 773, 263, 269, 271, 787, 277, 281, 283, 797, 293, 809, 811, 307, 821, 311, 823, 313, 827, 317, 829, 839, 331, 337, 853, 857, 347, 859, 349, 863, 353, 359, 877, 367, 881, 883, 373, 887, 379, 383, 389, 907, 397, 911, 401, 919, 409, 929, 419, 421, 937, 941, 431, 433, 947, 439, 953, 443, 449, 967, 457, 971, 461, 463, 977, 467, 983, 479, 991, 487, 491, 499, 503, 509]

In [6]:
def func(
    a, b, c, num,
    *args,
    **kwargs
):
    return a + b

**42) One-digit prime numbers**

Create a Set of one-digit prime numbers and store it in the primes variable and print it.

In [52]:
primes = {2,3,5,7}

In [3]:
# show two digit
n = 2

for num in range(10**(n-1),10**(n)):
    print(num,end=' ')

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [4]:
# one-digit prime numbers
def is_prime(num):
    return True

In [5]:
n = 3

for num in range(10 ** (n-1), 10 ** (n)):
    if is_prime(num):
        print(num)

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

# Challenge: First Dublicate
Given an array `a` that contains only numbers in the range from `1` to `a.length`, find the first duplicate **number** for which the second occurrence has the minimal index. In other words, if there are more than 1 duplicated number, print the **number** for which the second occurrence has a smaller index than the second occurrence of the other number does. If there are no such elements, print -1.

## Example:

For a = [2, 1, 3, 5, 3, 2], the output should be 3.\
There are 2 duplicates: numbers 2 and 3.\
The second occurrence of 3 has a smaller index than the second occurrence of 2 does, so the answer is 3.\
For a = [2, 2], the output should be 2;
For a = [2, 4, 3, 5, 1], the output should be -1.

In [26]:
a = [2, 4, 3, 5, 1]
a

[2, 4, 3, 5, 1]

In [ ]:
mySet = set()
for el in a:
    if el in mySet:
        print(el)
        break
    mySet.add(el)
else:
    print(-1)

**43) Conditional Sum**

Ali is TA. He wants to calculate the student's final score based on three scores and if their mean value is between 16 and 20, give them 20, otherwise, put the actual mean score. Help him write a program that gets three input as scores and give the result.

In [88]:
a = float(input("input first number: "))
b = float(input("input second number: "))
c = float(input("input third number: "))
# print(a,b,c)
mean_var = (a+b+c) / 3

input first number: 18.75
input second number: 16.2
input third number: 15.9

In [91]:
if mean_var in range(16,20):
    print(20)
else:
    print(mean_var)

16.95

**44) Vowel Or Consonant**

Write a Python program to check whether an alphabet is a vowel or consonant.\
**note:** input alphabet can also be capital

In [103]:
input_alphabet  = str(input("input your character: "))
if input_alphabet.lower() in ['a','e','i','o','u','y']:
    print(f'{input_alphabet} is a vowel')
else:
    print(f'{input_alphabet} is a constant')

input your character: a
a is a vowel

**45) Grading System**

I want to develop a system that divides the entrance exam scores of the python class members into four categories as follows: 

Marks                            Grade\
 |  90              |               A|\
 |  80 and <= 90    |               B|\
 |>= 60 and <= 80   |               C|\
 | below 60         |               D|
 
Get a score number as input and print the desired class name

In [111]:
Mark = float(input("input your score: "))

if Mark > 90:
    print('A')
elif Mark > 80 and Marks <= 90:
    print('B')
elif Mark >= 60 and Marks <= 80:
    print('C')
elif Mark < 60:
    print('D')

input your score: 91
A

**46) Triangle Type**

Write a program to get three numbers as the sides of a triangle and check whether it is an equilateral, isosceles, or scalene triangle.

***Note :***

- An equilateral triangle is a triangle in which all three sides are equal.
- A scalene triangle is a triangle that has three unequal sides.
- An isosceles triangle is a triangle with (at least) two equal sides.

In [128]:
slide_a = float(input("input your score: "))
slide_b = float(input("input your score: "))
slide_c = float(input("input your score: "))
# print(slide_a,slide_b,slide_c)

if slide_a == slide_b == slide_c:
    print('equilateral')
elif slide_a != slide_b and slide_a != slide_c and slide_b != slide_c:
    print('scalene triangle')
elif slide_a == slide_b or slide_a == slide_c or slide_b == slide_c:
    print('isosceles')

input your score: 2
input your score: 2
input your score: 2
equilateral

**47) Largest Number**

Write a program to find the largest number out of three numbers given by the user.  


***Note :*** Don't sort numbers. just use conditional statements

In [151]:
num_a = float(input("input your score: "))
num_b = float(input("input your score: "))
num_c = float(input("input your score: "))
# print(num_a,num_b,num_c)

input your score: 8989
input your score: 788
input your score: 909

In [152]:
# method A
if num_a < num_b and num_b < num_c:
    print(f'the largest number user {num_c}')
elif num_a > num_b and num_b > num_c:
    print(f'the largest number user {num_a}')
elif num_a > num_b and num_b < num_c and num_a > num_c:
    print(f'the largest number user {num_a}')
elif num_a > num_b and num_b < num_c and num_a < num_c:
    print(f'the largest number user {num_c}')

the largest number user 8989.0

In [153]:
# method B
if num_a >= num_b and num_a >= num_c:
    print(str(num_a),"is largest number")
elif num_b >= num_c:
    print(str(num_b),"is largest number")
else:
    print(str(num_c),"is largest number")

8989.0 is largest number

**48) Easy Calculater**

Write a python program to accept two numbers and a mathematical operator and performs operation accordingly.
mathematical operations are + - * /

In [154]:
num_a = float(input("input your number: "))
num_b = float(input("input your number: "))
print(num_a,num_b)

input your number: 22
input your number: 23
22.0 23.0

In [163]:
sum_ab = num_a + num_b
subtraction = num_a - num_b
division = num_a / num_b
multiplication = num_a * num_b
print(sum_ab,subtraction,division,multiplication)

45.0 -1.0 0.9565217391304348 506.0

**49) Conditional Job Working**

Ali has doubts about doing something. He asks his friend to choose a number between `500` and `1000` and if the tens digit is even, do the work.\
Otherwise, don't do it. (e.g in 542, 4 is a tens digit. Also, it is even ).\
Write a program that does this for him. if the tens digit is even print `Do It!` otherwise, print `Don't Do It!`

***Note:***  the input number must be in the range [500, 1000). otherwise, print Invalid Number!

**Note:** Don't convert the number to string to get tens digit!

In [190]:
num = int(input("please choose a number between 500 and 1000: "))

if num in range(500,1000):
    tens = (num // 10) % 10
    if tens % 2 == 0:
        print('Do It!')
    else:
        print("Don't Do It!")
else:
    print('Invalid Number!')

please choose a number between 500 and 1000: 109
Invalid Number!

**50) Even or odd**

Write a Python program that receive a number from the user and determines if a given integer is even or odd.

In [193]:
num = int(input("please enter your number: "))

if num % 2 == 0:
    print('even')
else:
    print('odd')

please enter your number: 11
odd

**51) The weekday name**

Write a Python code that would read any integer day number and show the day's name in the word

In [195]:
week_num = int(input("please enter your weekday name: "))

if week_num == 0:
    print('saturday')
elif week_num == 1:
    print('sunday')
elif week_num == 2:
    print('monday')
elif week_num == 3:
    print('tuesday')
elif week_num == 4:
    print('wednesday')
elif week_num == 5:
    print('thursday')
elif week_num == 6:
    print('friday')

please enter your weekday name: 1
sunday

**52) Angles of a triangle**

Write a python program that receive three angles from the user to determine whether the supplied angle values may be used to construct a triangle.

In [203]:
angle_a = float(input("please enter first angle: "))
angle_b = float(input("please enter second angle: "))
angle_c = float(input("please enter third angle: "))
sum_angle_abc = angle_a + angle_b + angle_c
if  sum_angle_abc == 180:
    print("used to construct a triangle")
else:
    print("please another number")

please enter first angle: 45
please enter second angle: 45
please enter third angle: 90
used to construct a triangle

**54) Quadratic equatione**

Write a Python program that receive three numbers from the user to calculate the root of a Quadratic Equation.

`ax + bx + c`

As you know, the roots of the quadratic equation can be obtained using the following formula:

`x = (-b  )/2a`

- If the delta is a number greater than zero (>0), our quadratic equation has two roots as follows:  
`x1 = (-b + )/2a`
`x2 = (-b - )/2a`

- If the delta is zero, then there is exactly one real root:
`x = -b/2a`

- If the delta is negative, then there are no real roots:

We also know that Delta equals:
` = b - 4ac`

In [232]:
a = float(input("please enter first number: "))
b = float(input("please enter second number: "))
c = float(input("please enter third number: "))
qe = (a * (x**2)) + (b * x) + c
print(qe)

please enter first number: 2
please enter second number: 8
please enter third number: 4
4.0

In [233]:
delta = (b ** 2) - (4*a*c)
print(delta)

32.0

In [235]:
if delta > 0:
    x1 = (-b + ((delta) ** (0.5)))/(2*a)
    x2 = (-b - ((delta) ** (0.5)))/(2*a)
    print(x1,x2)
elif delta == 0:
    x = -b / (2*a)
    print(x)
elif delta < 0:
    print('there are no real roots:')

-0.5857864376269049 -3.414213562373095

**55) Blood pressure category**

write code that takes the user's systolic and diastolic blood pressures and tells them category of their current condition.

| BLOOD PRESSURE CATEGORY | SYSTOLIC mm Hg	and/or	DIASTOLIC mm Hg |\
| NORMAL | LESS THAN 120 and LESS THAN 80 |\
| ELEVATED | 120  129 and LESS THAN 80 |\
| HIGH BLOOD PRESSURE (HYPERTENSION) STAGE 1 | 130  139 or 80  89 |\
| HIGH BLOOD PRESSURE (HYPERTENSION) STAGE 2 | 140 OR HIGHER or	90 OR HIGHER |\
| HYPERTENSIVE CRISIS (consult your doctor immediately) | HIGHER THAN 180 and/or HIGHER THAN 120 |

In [237]:
systolic = float(input("please enter systolic: "))
diastolic = float(input("please enter diastolic: "))

if systolic < 120 and diastolic < 80:
    print('Normal')
elif 120 < systolic < 129 and diastolic < 80:
    print('Elevated')
elif 130 < systolic < 139 or 80 < diastolic < 89:
    print('HIGH BLOOD PRESSURE (HYPERTENSION) STAGE 1')
elif 140 < systolic or 89 < diastolic:
    print('HIGH BLOOD PRESSURE (HYPERTENSION) STAGE 2')
elif 180 < systolic or diastolic > 120:
    print('HYPERTENSIVE CRISIS (consult your doctor immediately)')

please enter systolic: 129
please enter diastolic: 100
HIGH BLOOD PRESSURE (HYPERTENSION) STAGE 2

**56) Area of geometric shapes**

Create an application that initially displays a list of geometric shapes to the user.\
By entering a number, the user can pick one of those shapes.\
Then, based on the geometric shape selected, obtain the shape parameters from the user.\
Finally, as the output, display the shape's area.

In [246]:
side_a = int(input('please enter your first number: '))
side_b = int(input('please enter your second number: '))

if side_a == side_b:
    area = side_a * side_a
    print(f'area is {area}')
elif side_a != side_b:
    area = side_a * side_b
    print(f'area is {area}')

please enter your first number: 3
please enter your second number: 3
area is 9

**57) Find Median**

Write a Python program to get 3 inputs from the user and find the median of three values without sorting values.\
only use conditional statements, not any python methods.

**note:** `input()` gives you string. don't forget to convert it to a float number

In [247]:
num_a = float(input('please enter your first number: '))
num_b = float(input('please enter your second number: '))
num_c = float(input('please enter your third number: '))

please enter your first number: 12
please enter your second number: 13
please enter your third number: 14

In [254]:
if num_a > num_b:
    if num_a < num_c:
        median = a
    elif num_b > num_c:
        median = b
    else:
        median = c
else:
    if num_a > num_c:
        median = a
    elif num_b < num_c:
        median = b
    else:
        median = c

print("This median is", median)

This median is 8.0

**58) Nest condition inside f-string**

**You can nest expressions to evaluate inside expressions in an f-string**

You are given a set of prime numbers `less than 1000`. Create a program that receives a number and then uses a single print() function with **F-String** to determine whether or not it was a prime number.

for example:

**"997 is a prime number."**

**"998 is not a prime number."**

number = {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41,
     43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,
     101, 103, 107, 109, 113, 127, 131, 137, 139, 149,
     151, 157, 163, 167, 173, 179, 181, 191, 193, 197,
     199, 211, 223, 227, 229, 233, 239, 241, 251, 257,
     263, 269, 271, 277, 281, 283, 293, 307, 311, 313,
     317, 331, 337, 347, 349, 353, 359, 367, 373, 379,
     383, 389, 397, 401, 409, 419, 421, 431, 433, 439,
     443, 449, 457, 461, 463, 467, 479, 487, 491, 499,
     503, 509, 521, 523, 541, 547, 557, 563, 569, 571,
     577, 587, 593, 599, 601, 607, 613, 617, 619, 631,
     641, 643, 647, 653, 659, 661, 673, 677, 683, 691,
     701, 709, 719, 727, 733, 739, 743, 751, 757, 761,
     769, 773, 787, 797, 809, 811, 821, 823, 827, 829,
     839, 853, 857, 859, 863, 877, 881, 883, 887, 907,
     911, 919, 929, 937, 941, 947, 953, 967, 971, 977,
     983, 991, 997}

In [323]:
def isPrime(number):
    # rule 1: number should be positive, and greater than 1.
    if number > 1:
        # iterate over a range from 2 to half the number.
        for i in range(2, number//2):
            # rule 2: shouldn't have any positive divisor 
            # order than 1 and itself.
            if(number % i) == 0:
                return False
         
        return True
    else:
        return False

if __name__ == '__main__':
    number = int(input("Enter number to check if it's prime: "))
    
    if isPrime(number):
        print(f'{number} is a prime number')
    else:
        print(f'{number} is not a prime number')

Enter number to check if it's prime: 1
1 is not a prime number