# String Operator

you have already seen the operators `+` and `*` applied to numeric operands in the section
on Operators and Expressions in Python. These two operators can be applied to strings as well.

In [235]:
a = 'mark'
a

'mark'

In [236]:
b = 'tom'

In [237]:
c = 'blue pen'

In [238]:
print(b,c)

tom blue pen

In [241]:
d = "mark's pen"
d

"mark's pen"

In [244]:
m = '''

mark has new pen
pen is so expensive
'''

print(m)

mark has new pen
pen is so expensive

## Concatination

In [247]:
f_name = 'Mark'
l_name = 'Test'

In [248]:
f_name +' '+ l_name

'Mark Test'

In [249]:
print('a'+'xyz'+'abc')

axyzabc

tips: can't multiply sequence by non-int of type 'str' `print('a' * 'b')`

In [253]:
print(2 * 'b')

bb

In [254]:
print(2 * 'b')

bb

The multiplier operand `n` must be an integer. You'd think it would be required to be a positive integer, but amusingly, it can be zero or negative, in which case the result is an empty string:

In [255]:
'foo' * -8

''

If you were to create a string variable and initialize it to the empty string by assigning it the value 'foo' * -8, anyone would rightly think you were a bit draft. But it would work.

TypeError: can't multiply sequence by non-int of type 'float' `'ali' * 1.2`

In [262]:
'a' in 'abc'

True

In [263]:
'x' in 'abc'

False

## Partial Match

In [265]:
'ne' in 'mark has new pen'

True

In [268]:
txt = "mark's car is blue"
if 'car' in txt:
    print("Found it")

Found it

## Exact Match

In [270]:
txt = 'mark'
txt == 'car'

False

## Regular Expression

In [271]:
import re

## Built-in String Function

As you saw in the tutorial on Basic Data Types in Python, Python provides many functions that are explored more fully below.

In [272]:
# encode
ord('?')

63

In [273]:
ord('!')

33

In [274]:
# decode
chr(97)

'a'

In [275]:
chr(356)

'Ť'

In [276]:
chr(1000)

'Ϩ'

In [277]:
0b1

1

7 bit + 1 bit (paritty)

In [278]:
0b100001

33

In [279]:
len('mark')

4

In [280]:
len([a,b,c])

3

In [281]:
str(2)

'2'

In [282]:
name = 'Hello World !'

In [283]:
name[4]

'o'

In [284]:
name = 'Ben'

In [285]:
len(name)

3

IndexError: string index out of range `name[len(name)]`

In [288]:
name[len(name) - 1]

'n'

Here are some examples of negative indexing

In [289]:
name

'Ben'

In [290]:
name[-1]

'n'

In [291]:
name[-2]

'e'

In [292]:
name[-len(name)]

'B'

In [293]:
name[-1] == name[len(name)-1]

True

IndexError: string index out of range `name[-10]`

For any non-empty string `s`,`s[len(s)-1]` and `s[-1]` both return the last character. There isn't any index that makes sense for an empty string.

## String Slicing

python also allows a form of indexing syntax that extracts substrings from a string known as string slicing. if `s` is a string, an expression of the form `s[m:n]` returns the portion of `s` starting with position `m`, and up to but not including position `n`:

In [295]:
name = 'python developer'

In [296]:
name[:]

'python developer'

In [297]:
# 2 >> inclusive and 5 >> exclusive
name[2:5]

'tho'

In [298]:
len(name[2:4])

2

In [299]:
# noghte shekast >> split point
split_point = 6

In [300]:
name[:split_point - 1]

'pytho'

In [301]:
name[:split_point] + name[split_point:]

'python developer'

In [302]:
name[:6]

'python'

In [303]:
name

'python developer'

In [304]:
name[0:6]

'python'

In [305]:
name[:2] + name[2:] == name

True

## Specifying a Stride in a String Slice

There is one more variant of the slicing syntax to discuss. Adding an additional: and a third index designates a stride (also called a step), which indicates how many characters to jump after retrieving each character in the slice.

For example, for the string `foobar`, the slice `0:6:2` starts with the first character and ends with the last character (the whole string) and every second character is skinned. This is shown in the following diagram:

In [306]:
name[-5:-2]

'lop'

In [307]:

name[-5:-2:2]

'lp'

In [308]:
name[::5]

'pner'

In [309]:
name[2::5]

'tdo'

In [310]:
# for revesing string use step [-1]
name[::-1]

'repoleved nohtyp'

## Interpolating Variables into a String

In Python version 3.6, a new string formatting mechanism was introduced.
This feature is formally named the Formatted String Literal, but is more usually referred to by its nickname `f-string`.

One simple feature of f-strings you can start using right away is variable interpolation. You can specify a variable name directly within an f-string literal, and Python will replace the name with the corresponding value.

For example, suppose you want to display the result of an arithmatic calculation. You can do this with a strightforward `print()` statement, seprating numeric values and string literals by commas:

In [311]:
name1 = 'software developer is __ year old'
age = 80
name = 'Software developer'

In [312]:
user = name + ' is ' + str(age) + " year's old"
user

"Software developer is 80 year's old"

In [313]:
f'{2+3} is {3+4} years old'

'5 is 7 years old'

In [314]:
f'{name} is {age} years old'

'Software developer is 80 years old'

In [315]:
email_template  = f'Hello {name} You are our winner. Good Luck'
email_template

'Hello Software developer You are our winner. Good Luck'

In [316]:
age = 80

In [317]:
print(f"""
Hello {name}!

You are turning to {age}! Happy Birthday!

""")

Hello Software developer!

You are turning to 80! Happy Birthday!

In [318]:
# create 30 spaces
f'Hi {name:30}! Bye'

'Hi Software developer            ! Bye'

In [319]:
# float limit 2 digits
f'Hi {1.2232312321:.2}'

'Hi 1.2'

In [320]:
# string is imutable

In [321]:
name

'Software developer'

In [322]:
a = name[0] + 's' + name[2:]

In [323]:
a

'Ssftware developer'

In [324]:
name

'Software developer'

TypeError: 'str' object does not support item assignment `name[1] = 's'`